// :host ::ng-deep {

// }

.row {
  display: flex;
  flex-wrap: wrap;
}

.header {
  font-size: 20px;
  font-weight: bolder;
}
.pb-2 {
  padding-bottom: 2rem;
}
.mr-2 {
  margin-right: 2rem;
}

:host ::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  border: 1px solid;
  padding: 10px;
  box-shadow: 2px 2px #f7b206 !important;
}

:host ::ng-deep .p-dialog .p-dialog-header {
  background: #f7b206 !important;
}
.small-input {
  width: 60px;
}

@media (max-width: 768px) {
  td {
    flex-direction: column;
  }

  td > div {
    width: 100%;
    margin-left: 0 !important;
    margin-top: 10px;
  }

  td > div:first-child {
    margin-top: 0;
  }
}
