:host ::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  border: 1px solid;
  padding: 10px;
  box-shadow: 2px 2px #f7b206 !important;
}
:host ::ng-deep .p-dialog .p-dialog-header {
  background: #f7b206 !important;
}

.description {
  white-space: pre-line;
}
