<div id="tableComp">
  <div style="padding: 10px 15px">
    <div *ngIf="instanceData === null">Select the filter criteria</div>
    <div *ngIf="instanceData?.length === 0">No Data Found</div>
    <div *ngIf="instanceData?.length > 0">
      <p-table
        #dt
        [columns]="selectedCols"
        [value]="instanceData"
        [scrollable]="true"
        [rows]="10"
        responsiveLayout="scroll"
        [rowHover]="true"
        [customSort]="true"
        (sortFunction)="customSort($event)"
        [showCurrentPageReport]="true"
        [filterDelay]="0"
        [selectionMode]="'multiple'"
        [(selection)]="selectedInstances"
      >
        <ng-template pTemplate="caption" style="margin-bottom: 10px">
          <ng-container>
            <div class="col-12">
              <div class="row">
                <div class="col-md-11">
                  <p-multiSelect
                    [options]="cols"
                    [(ngModel)]="selectedCols"
                    optionLabel="header"
                    display="chip"
                    placeholder="Choose Columns"
                  ></p-multiSelect>
                </div>
                <div class="col-md-1">
                  <button
                    pButton
                    pRipple
                    (click)="resetHandleData()"
                    type="button"
                    icon="pi pi-refresh"
                    class="p-button-rounded"
                  ></button>
                </div>
              </div>
            </div>
            <div
              class="flex"
              style="display: flex; justify-content: space-between; align-items: center"
            >
              <!-- First three buttons (CSV, XLS, PDF) -->
              <div>
                <button
                  *ngIf="exportCSVAccess"
                  type="button"
                  pButton
                  pRipple
                  icon="pi pi-file"
                  (click)="dt.exportCSV()"
                  class="button"
                  pTooltip="CSV"
                  fitContent
                  appendTo="body"
                  tooltipPosition="right"
                ></button>
                <button
                  *ngIf="exportXLSAccess"
                  type="button"
                  pButton
                  (click)="exportExcel()"
                  pRipple
                  icon="pi pi-file-excel"
                  class="button p-button-success btn-success mr-2"
                  pTooltip="XLS"
                  fitContent
                  appendTo="body"
                  tooltipPosition="right"
                ></button>
                <button
                  *ngIf="exportPDFAccess"
                  type="button"
                  pButton
                  pRipple
                  (click)="exportPdf()"
                  icon="pi pi-file-pdf"
                  class="button p-button-warning mr-2 button-css"
                  pTooltip="PDF"
                  tooltipPosition="right"
                ></button>
              </div>

              <div *ngIf="showbtn">
                <button
                  pButton
                  type="button"
                  label="Delete"
                  class="p-button-danger"
                  style="margin-right: 10px"
                  (click)="deleteSelectedUsers()"
                ></button>
                <button
                  pButton
                  type="button"
                  label="Disconnect"
                  class="p-button-warning"
                  (click)="disconnectSelectedUsers()"
                ></button>
              </div>
            </div>
          </ng-container>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox *ngIf="showCheckbox"> </p-tableHeaderCheckbox>
            </th>
            <th
              [ngStyle]="{ width: '200px' }"
              *ngFor="let col of selectedCols"
              [pSortableColumn]="col.header"
              style="text-align: center"
            >
              {{ col.header }}
              <p-sortIcon [field]="col.header"></p-sortIcon>
            </th>
          </tr>
          <tr>
            <th>
              <p-tableHeaderCheckbox *ngIf="showCheckbox"></p-tableHeaderCheckbox>
            </th>
            <th
              [ngStyle]="{ width: '200px' }"
              *ngFor="let col of selectedCols; let i = index"
              style="text-align: right"
            >
              <ng-container *ngIf="col.field !== 'Actions'">
                <input
                  style="margin: 10; padding: 10px; width: 150px"
                  pInputText
                  type="text"
                  (input)="dt.filter($event.target.value, col.field, 'startsWith')"
                  [placeholder]="col.field"
                  class="p-column-filter"
                />
              </ng-container>
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-instance>
          <tr>
            <td>
              <p-tableCheckbox *ngIf="showCheckbox" [value]="instance"> </p-tableCheckbox>
            </td>
            <td
              [ngStyle]="{ width: '200px' }"
              *ngFor="let col of selectedCols; let i = index"
              style="text-align: center"
            >
              <ng-container *ngIf="col.field !== 'Actions'; else d">
                <span
                  *ngIf="
                    col.field !== 'createDate' &&
                    col.field !== 'lastModificationDate' &&
                    col.field !== 'userName'
                  "
                >
                  {{ instance[col.field] }}
                </span>
                <span *ngIf="col.field == 'userName'">
                  <a
                    href="javascript:void(0)"
                    (click)="openDataModal($event, instance)"
                    style="color: #f7b206"
                  >
                    {{ instance[col.field] }}
                  </a>
                </span>
                <span *ngIf="col.field == 'createDate' || col.field == 'lastModificationDate'">
                  {{ instance[col.field]  }}
                </span>
              </ng-container>
              <ng-template #d>
                <button
                  *ngIf="deleteLiveUserAccess"
                  type="submit"
                  id="delete-button"
                  class="btn btn-primary"
                  title="Delete"
                  data-toggle="tooltip"
                  (click)="removeData($event, instance)"
                >
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
                &nbsp;
                <button
                  *ngIf="instance.isView"
                  type="submit"
                  class="btn btn-primary"
                  title="View"
                  data-toggle="tooltip"
                  (click)="viewDataModal($event, instance)"
                >
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </button>
                &nbsp;
                <button
                  style="margin-top: 7px; margin-left: -6px"
                  *ngIf="instance.isView"
                  type="submit"
                  class="btn btn-primary"
                  title="Add Concurrency"
                  data-toggle="tooltip"
                  (click)="addDataModal($event, instance)"
                >
                  <i class="fa fa-plus-square"></i>
                </button>
                &nbsp;
                <button
                  style="margin-top: 7px"
                  *ngIf="disconnectLiveUserAccess"
                  type="submit"
                  class="btn btn-primary"
                  title="Disconnect"
                  data-toggle="tooltip"
                  (click)="disconnectEvent($event, instance)"
                >
                  <i class="fa fa-user-slash"></i>
                </button>
              </ng-template>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
