.tab-pane {
  padding: 0px 15px;
}
/* input[type="checkbox"][readonly] {
  pointer-events: none;
} */
.panel button[type="reset"] {
  padding: 0;
  margin-left: 5px;
  background-color: #20b2aa !important;
  border: none;
  outline: none;
  color: #fff !important;
  vertical-align: middle;
  width: 28px;
  height: 28px;
  margin-top: 0 !important;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  border: 1px solid;
  padding: 10px;
  box-shadow: 2px 2px #f7b206 !important;
}
