<p-dialog
  header="Select Staff"
  [(visible)]="selectStaff"
  [closable]="false"
  [draggable]="false"
  [style]="{ width: '80%' }"
  [baseZIndex]="100"
>
  <div class="modal-body">
    <h5>Search Staff</h5>
    <div class="row">
      <div class="col-md-3">
        <input
          id="searchStaffName"
          type="text"
          name="username"
          class="form-control"
          placeholder="Global Search Filter"
          [(ngModel)]="searchDeatil"
          (keydown.enter)="searchStaffByName()"
        />
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <button
          (click)="searchStaffByName()"
          type="button"
          class="btn btn-primary"
          id="searchbtn"
          [disabled]="!searchDeatil"
        >
          <i class="fa fa-search"></i>
          Search
        </button>
        <button (click)="clearSearchForm()" type="reset" class="btn btn-default" id="searchbtn">
          <i class="fa fa-refresh"></i>
          Clear
        </button>
      </div>
    </div>
    <h5 style="margin-top: 15px">Select Staff</h5>
    <p-table
      #dt
      [(selection)]="selectedStaffCust"
      [value]="staffData"
      [rows]="5"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[5, 10, 25, 50]"
      responsiveLayout="scroll"
      [scrollable]="true"
      [paginator]="false"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      (onPage)="paginate($event, dt)"
      [(first)]="newFirst"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 50px"></th>
          <th>Name</th>
          <th>User Name</th>
          <th>Partner Name</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-staffData let-rowIndex="rowIndex">
        <tr>
          <td style="width: 50px">
            <p-tableRadioButton [value]="staffData"></p-tableRadioButton>
          </td>
          <td>
            {{ staffData.firstname }}
          </td>
          <td>{{ staffData.username }}</td>
          <td>{{ staffData.partnerName }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <p-paginator
          (onPageChange)="paginateStaff($event)"
          [first]="newFirst"
          [totalRecords]="parentstaffListdatatotalRecords"
          [rows]="5"
          [rowsPerPageOptions]="[5, 10, 25, 50]"
        ></p-paginator>
      </ng-template>
    </p-table>
  </div>
  <div class="modal-footer">
    <div class="addUpdateBtn">
      <button
        (click)="saveSelstaff()"
        type="button"
        class="btn btn-primary"
        [disabled]="this.selectedStaffCust.length == 0"
      >
        <i class="fa fa-check-circle"></i>
        Save
      </button>
      <button (click)="modalCloseStaff()" type="button" class="btn btn-danger">Close</button>
    </div>
  </div>
</p-dialog>
