.custom {
  display: flex;
  justify-content: center;
}

.custommm {
  display: flex;
  justify-content: center;
  margin-left: -6px;
  margin-top: 15px;
  border-radius: 0px;
}

.customm {
  display: flex;
  justify-content: center;
  margin-left: -12px;
  margin-top: 23px;
}

.button-size {
  font-size: 15px;
  padding: 6px 41px;
}