.myclass {
  border: 1px solid #dadad6;
  text-align: center;
}
:host ::ng-deep .p-dialog .p-dialog-header {
  background: #f7b206 !important;
}
.checkbox-align {
  padding-top: 8%;
  padding-right: 10%;
}