.form-group{
    margin-bottom: 0px;
}
  
  .errorWrap {
    position: relative;
  }
  
  .error {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 5px;
    font-size: 12px;
    color: red;
  }

  .dropdown-container {
height: 34px;
 }

 .multiselect {
    height: 34px;
     }

 label{
    margin-top: 10px;
 }

 .addBtn{
  position:relative;
  left:45%
 }

