<div class="row">
  <div class="col-md-6">
    <input 
      id="searchInput" 
      type="text"
      class="form-control"
      [placeholder]="placeholder"
      [(ngModel)]="searchValue"
      (keydown.enter)="onSearch()"
      [ngModelOptions]="{ standalone: true }"
    />
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12">
    <button 
      (click)="onSearch()"
      class="btn btn-primary"
      id="searchbtn"
      type="submit"
      [disabled]="!searchValue"
    >
    <i class="fa fa-search"></i> Search
    </button>

    <button 
      (click)="onClear()"
      class="btn btn-default"
      id="searchbtn"
      type="reset"
    >
      <i class="fa fa-refresh"></i> Clear
    </button>
  </div>
</div>
