.disabled-checkbox {
  opacity: 0.5; /* Example: Reducing opacity for disabled state */
  cursor: not-allowed; /* Example: Changing cursor to not-allowed for disabled state */
}
:host ::ng-deep .p-dialog .p-dialog-header {
  background: #f7b206 !important;
}
