.panel button[type="reset"] {
  padding: 0;
  margin-left: 5px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #000 !important;
  vertical-align: middle;
}

:host ::ng-deep .p-dialog .p-dialog-header {
  background: #f7b206 !important ;
}

.installment-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
}
