<div class="row">
  <div class="col-md-12">
    <div class="panel top">
      <div class="panel-heading">
        <h3 class="panel-title">Service Area</h3>
        <div class="right">
          <button
            type="button"
            class="btn-toggle-collapse"
            data-toggle="collapse"
            data-target="#serviceAreaSearch"
            aria-expanded="false"
            aria-controls="serviceAreaSearch"
          >
            <i class="fa fa-minus-circle"></i>
          </button>
        </div>
      </div>

      <div id="serviceAreaSearch" class="panel-collapse collapse in">
        <div class="panel-body" id="">
          <div class="row">
            <div class="col-lg-3 col-md-3">
              <input
                type="text"
                [(ngModel)]="searchName"
                class="form-control"
                placeholder="Global Search Filter"
                (keydown.enter)="searchserviceArea()"
              />
            </div>
            <div class="col-lg-6 col-md-6 marginTopSearchBtn">
              <button
                type="button"
                class="btn btn-primary"
                id="searchbtn"
                (click)="searchserviceArea()"
              >
                <i class="fa fa-search"></i>
                Search
              </button>
              <button
                type="reset"
                class="btn btn-default"
                id="searchbtn"
                (click)="clearSearchserviceArea()"
              >
                <i class="fa fa-refresh"></i>
                Clear
              </button>
              <button
                *ngIf="loggedInUserMvnoId === 1"
                type="button"
                class="btn btn-primary"
                id="searchbtn"
                (click)="showAllPolygons()"
              >
                Covered Area
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 left" *ngIf="listView">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Service Area</h3>
        <div class="right">
          <button
            type="button"
            class="btn-toggle-collapse"
            data-toggle="collapse"
            data-target="#serviceAreaDeatils"
            aria-expanded="false"
            aria-controls="serviceAreaDeatils"
          >
            <i class="fa fa-minus-circle"></i>
          </button>
        </div>
      </div>

      <div id="serviceAreaDeatils" class="panel-collapse collapse in">
        <div class="panel-body table-responsive">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <table class="table">
                <thead>
                  <tr>
                    <th>Name</th>

                    <th>Lat/Long</th>
                    <th>Status</th>
                    <th *ngIf="deleteAccess || editAccess || inventoryAccess">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let data of serviceAreaListData
                        | paginate
                          : {
                              id: 'serviceAreaListpageData',
                              itemsPerPage: serviceAreaListdataitemsPerPage,
                              currentPage: currentPageserviceAreaListdata,
                              totalItems: serviceAreaListdatatotalRecords
                            };
                      index as i
                    "
                  >
                    <td>{{ data.name }}</td>

                    <td>{{ data.latitude }}/{{ data.longitude }}</td>
                    <td *ngIf="data.status == 'Active'">
                      <span class="badge badge-success">Active</span>
                    </td>
                    <td *ngIf="data.status == 'Inactive'">
                      <span class="badge badge-danger">Inactive</span>
                    </td>
                    <td *ngIf="data.status == 'UnderDevelopment'">
                      <span class="badge badge-info">UnderDevelopment</span>
                    </td>
                    <td
                      class="btnAction"
                      *ngIf="deleteAccess || editAccess || inventoryAccess || viewAccess"
                    >
                      <a
                        *ngIf="viewAccess"
                        id="editbutton"
                        href="javascript:void(0)"
                        (click)="viewEditServiceArea(data.id, true)"
                        title="View"
                      >
                        <img src="assets/img/eye-icon.png" />
                      </a>
                      <a
                        *ngIf="editAccess"
                        id="editbutton"
                        href="javascript:void(0)"
                        (click)="viewEditServiceArea(data.id, false)"
                        title="Edit"
                      >
                        <img src="assets/img/ioc01.jpg" />
                      </a>
                      <a
                        *ngIf="deleteAccess"
                        id="delete-button"
                        href="javascript:void(0)"
                        (click)="deleteConfirmonserviceArea(data.id)"
                        title="Delete"
                      >
                        <img src="assets/img/ioc02.jpg" />
                      </a>
                      <a
                        *ngIf="inventoryAccess"
                        class="curson_pointer"
                        (click)="openMyInventory(data)"
                        title="Assign Inventory"
                      >
                        <img
                          src="../../../assets/img/All_Icons/17_Inventory_Management/08_Assign-Inventories_Y.png"
                          style="width: 32px"
                        />
                      </a>
                      <a class="curson_pointer" (click)="bulkAssignViewData(data)">
                        <img
                          src="../../../assets/img/All_Icons/17_Inventory_Management/08_Assign-Inventories_Y.png"
                          style="width: 32px"
                          title="Bulk Assign"
                        />
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>

              <div class="pagination_Dropdown">
                <pagination-controls
                  id="serviceAreaListpageData"
                  maxSize="10"
                  directionLinks="true"
                  previousLabel=""
                  nextLabel=""
                  (pageChange)="pageChangedserviceAreaList($event)"
                ></pagination-controls>
                <div id="itemPerPageDropdown">
                  <p-dropdown
                    [(ngModel)]="serviceAreaListdataitemsPerPage"
                    [options]="pageLimitOptions"
                    optionLabel="value"
                    optionValue="value"
                    (onChange)="TotalItemPerPage($event)"
                  ></p-dropdown>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 right" *ngIf="createView">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title" *ngIf="!isserviceAreaEdit && !isViewServiceArea">
          Create Service Area
        </h3>
        <h3 class="panel-title" *ngIf="isserviceAreaEdit">Update Service Area</h3>
        <h3 class="panel-title" *ngIf="isViewServiceArea">View Service Area</h3>
        <div class="right">
          <button
            type="button"
            class="btn-toggle-collapse"
            data-toggle="collapse"
            data-target="#serviceAreaCreate"
            aria-expanded="false"
            aria-controls="serviceAreaCreate"
          >
            <i class="fa fa-minus-circle"></i>
          </button>
        </div>
      </div>

      <div id="serviceAreaCreate" class="panel-collapse collapse in">
        <div
          class="panel-body table-responsive"
          *ngIf="!createAccess && !isserviceAreaEdit && !isViewServiceArea"
        >
          Sorry you have not privilege to create operation!
        </div>
        <div
          class="panel-body"
          *ngIf="
            createAccess || (isserviceAreaEdit && editAccess) || (viewAccess && isViewServiceArea)
          "
        >
          <form [formGroup]="serviceAreaGroupForm">
            <div>
              <label>Name *</label>
              <input
                id="name"
                type="text"
                class="form-control"
                placeholder="Enter Name"
                formControlName="name"
                (blur)="onKeyName($event)"
                [ngClass]="{
                  'is-invalid': submitted && serviceAreaGroupForm.controls.name.errors
                }"
              />
              <div
                class="errorWrap text-danger"
                *ngIf="submitted && serviceAreaGroupForm.controls.name.errors"
              >
                <div
                  class="error text-danger"
                  *ngIf="submitted && serviceAreaGroupForm.controls.name.errors.required"
                >
                  Name is required.
                </div>
                <div
                  class="error text-danger"
                  *ngIf="submitted && serviceAreaGroupForm.controls.name.errors?.cannotContainSpace"
                >
                  <p class="error">White space are not allowed.</p>
                </div>
              </div>
              <br />
            </div>
            <div>
              <label>Site Name <span *ngIf="loggedInUserMvnoId === 1">*</span></label>
              <div *ngIf="loggedInUserMvnoId === 1">
                <input
                  id="name"
                  type="text"
                  class="form-control"
                  placeholder="Enter Site Name"
                  formControlName="siteName"
                  [readOnly]="isserviceAreaEdit"
                  (blur)="onSiteNameChange($event)"
                  [ngClass]="{
                    'is-invalid': submitted && serviceAreaGroupForm.controls.siteName.errors
                  }"
                />
              </div>
              <div *ngIf="loggedInUserMvnoId !== 1">
                <p-dropdown
                  id="name"
                  [options]="siteNameListData"
                  optionLabel="name"
                  optionValue="name"
                  filter="true"
                  filterBy="name"
                  placeholder="Select Site Name"
                  formControlName="siteName"
                  (onChange)="sieNameChange($event)"
                  [ngClass]="{
                    'is-invalid': submitted && serviceAreaGroupForm.controls.siteName.errors
                  }"
                ></p-dropdown>
              </div>

              <div
                class="errorWrap text-danger"
                *ngIf="submitted && serviceAreaGroupForm.controls.siteName.errors"
              >
                <div
                  class="error text-danger"
                  *ngIf="submitted && serviceAreaGroupForm.controls.siteName.errors.required"
                >
                  Site Name is required.
                </div>
              </div>
              <br />
            </div>
            <div>
              <label>{{ cityTitle }}*</label>
              <div>
                <p-dropdown
                  [options]="cityListData"
                  optionValue="id"
                  optionLabel="name"
                  filter="true"
                  filterBy="name"
                  placeholder="Select a {{ cityTitle }}"
                  formControlName="cityid"
                  (onChange)="getSelCity($event)"
                  [ngClass]="{
                    'is-invalid': submitted && serviceAreaGroupForm.controls.cityid.errors
                  }"
                ></p-dropdown>
                <!-- <p-multiSelect
                  [options]="cityListData"
                  optionLabel="name"
                  optionValue="id"
                  filter="true"
                  filterBy="name"
                  defaultLabel="Select a {{ cityTitle }}"
                  formControlName="cityid"
                  [ngClass]="{
                    'is-invalid': submitted && serviceAreaGroupForm.controls.cityid.errors
                  }"
                ></p-multiSelect> -->
              </div>
              <div
                class="errorWrap text-danger"
                *ngIf="submitted && serviceAreaGroupForm.controls.cityid.errors"
              >
                <div
                  class="error text-danger"
                  *ngIf="submitted && serviceAreaGroupForm.controls.cityid.errors.required"
                >
                  {{ cityTitle }} is required.
                </div>
              </div>
            </div>
            <br />
            <div>
              <label>{{ pincodeTitle }}*</label>
              <div>
                <p-multiSelect
                  [options]="pincodeDetail"
                  optionLabel="pincode"
                  optionValue="id"
                  filter="true"
                  filterBy="pincode"
                  defaultLabel="Select {{ pincodeTitle }}s"
                  formControlName="pincodes"
                  (onchange)="getSelCity($event)"
                  [virtualScroll]="true"
                  [itemSize]="30"
                  [scrollHeight]="'200px'"
                  (onLazyLoad)="loadItems($event)"
                  [ngClass]="{
                    'is-invalid': submitted && serviceAreaGroupForm.controls.pincodes.errors
                  }"
                ></p-multiSelect>
              </div>

              <div
                class="errorWrap text-danger"
                *ngIf="submitted && serviceAreaGroupForm.controls.pincodes.errors"
              >
                <div
                  class="error text-danger"
                  *ngIf="submitted && serviceAreaGroupForm.controls.pincodes.errors.required"
                >
                  {{ pincodeTitle }} is required.
                </div>
              </div>
            </div>
            <br />
            <div>
              <label>Service Area Type</label>
              <div>
                <p-dropdown
                  id="title"
                  [options]="serviceAreaType"
                  formControlName="serviceAreaType"
                  optionLabel="label"
                  optionValue="value"
                  placeholder="Select a Type"
                  (onChange)="serviceAreaTypeChange($event)"
                ></p-dropdown>
              </div>
            </div>
            <br />
            <div>
              <label>Latitude</label>
              <input
                id="latitude"
                type="text"
                class="form-control"
                placeholder="Enter latitude"
                formControlName="latitude"
              />
              <div
                class="errorWrap text-danger"
                *ngIf="submitted && serviceAreaGroupForm.controls.latitude.errors"
              >
                <div
                  class="error text-danger"
                  *ngIf="submitted && serviceAreaGroupForm.controls.latitude.errors.required"
                >
                  Latitude is required.
                </div>
              </div>
              <br />
            </div>
            <div>
              <label>Longitude</label>
              <input
                id="longitude"
                type="text"
                class="form-control"
                placeholder="Enter longitude"
                formControlName="longitude"
              />
              <div
                class="errorWrap text-danger"
                *ngIf="submitted && serviceAreaGroupForm.controls.longitude.errors"
              >
                <div
                  class="error text-danger"
                  *ngIf="submitted && serviceAreaGroupForm.controls.longitude.errors.required"
                >
                  Longitude is required.
                </div>
              </div>
              <br />
            </div>
            <div style="margin-bottom: 1rem">
              <span
                class="HoverEffect"
                (click)="mylocation()"
                title="Get Current Location"
                style="border-bottom: 1px solid #f7b206"
              >
                <img class="LocationIcon" src="assets/img/B_Find-My-current-location_Y.png" />
              </span>
              <span
                class="HoverEffect"
                title="Search Location"
                data-target="#searchLocationModal"
                data-toggle="modal"
                data-backdrop="static"
                data-keyboard="false"
                style="margin-left: 8px; border-bottom: 1px solid #f7b206"
                (click)="openSearchModel()"
              >
                <img class="LocationIcon" src="assets/img/C_Search-location_Y.png" />
              </span>
              <span
                *ngIf="polygonViewAccess"
                class="HoverEffect"
                (click)="DrawPolygon()"
                title="Draw Polygon On Map"
                style="border-bottom: 1px solid #f7b206; margin-left: 8px"
              >
                <img class="LocationIcon" src="assets/img/polygon.png" />
              </span>
            </div>
            <div>
              <label>Radius(KM)</label>
              <input
                id="radius"
                type="text"
                class="form-control"
                placeholder="Enter Radius"
                formControlName="radius"
                (keypress)="radiusKeyPress($event)"
              />
              <div
                class="errorWrap text-danger"
                *ngIf="submitted && serviceAreaGroupForm.controls.radius.errors"
              >
                <div
                  class="error text-danger"
                  *ngIf="submitted && serviceAreaGroupForm.controls.radius.errors.required"
                >
                  Radius is required.
                </div>
              </div>
              <br />
            </div>
            <div>
              <label>{{ locationTitle }}</label>
              <div>
                <p-multiSelect
                  [options]="locationDataByPlan"
                  filter="true"
                  filterBy="name"
                  formControlName="locationIds"
                  optionLabel="name"
                  optionValue="locationMasterId"
                  placeholder="Select location"
                ></p-multiSelect>
              </div>

              <!-- <div
                class="errorWrap text-danger"
                *ngIf="submitted && serviceAreaGroupForm.controls.locationIds.errors"
              >
                <div
                  class="error text-danger"
                  *ngIf="submitted && serviceAreaGroupForm.controls.locationIds.errors.required"
                >
                  {{ locationTitle }} is required.
                </div>
              </div> -->
              <br />
            </div>

            <div>
              <label>Status *</label>
              <div>
                <p-dropdown
                  [options]="statusOptions"
                  optionValue="label"
                  optionLabel="label"
                  filter="true"
                  filterBy="label"
                  placeholder="Select a Status"
                  formControlName="status"
                  [ngClass]="{
                    'is-invalid': submitted && serviceAreaGroupForm.controls.status.errors
                  }"
                ></p-dropdown>
              </div>
              <div
                class="errorWrap text-danger"
                *ngIf="submitted && serviceAreaGroupForm.controls.status.errors"
              >
                <div
                  class="error text-danger"
                  *ngIf="submitted && serviceAreaGroupForm.controls.status.errors.required"
                >
                  Status is required.
                </div>
              </div>
              <br />
            </div>
            <div *ngIf="serviceAreaGroupForm.value.serviceAreaType == 'private'">
              <div class="form-group">
                <label>Unit No.*</label>
                <input
                  id="blockNo"
                  type="text"
                  class="form-control"
                  placeholder="Enter Block No."
                  formControlName="blockNo"
                  (keydown)="handleKeyDown($event)"
                />
                <div
                  class="errorWrap text-danger"
                  *ngIf="submitted && serviceAreaGroupForm.controls.blockNo.errors"
                >
                  <div
                    class="error text-danger"
                    *ngIf="submitted && serviceAreaGroupForm.controls.blockNo.errors.required"
                  >
                    Block No. is required.
                  </div>
                </div>
              </div>
              <br />
            </div>
            <div *ngIf="loggedInUserMvnoId === 1">
              <div class="form-group">
                <label>ISPs</label>
                <div>
                  <p-multiSelect
                    [options]="ispListData"
                    optionLabel="name"
                    optionValue="id"
                    filter="true"
                    filterBy="name"
                    defaultLabel="Select ISPs"
                    formControlName="mvnoIds"
                    [disabled]="isserviceAreaEdit && viewserviceAreaListData.mvnoId != 1"
                  ></p-multiSelect>
                </div>
              </div>
              <br />
            </div>

            <div class="addUpdateBtn">
              <button
                type="submit"
                class="btn btn-primary"
                *ngIf="!isserviceAreaEdit && !isViewServiceArea"
                id="submit"
                (click)="addEditserviceArea('')"
                [disabled]="loggedInUserMvnoId === 1 && !isSiteNameAvailable"
              >
                <i class="fa fa-check-circle"></i>
                Add Service Area
              </button>
              <button
                type="submit"
                class="btn btn-primary"
                *ngIf="isserviceAreaEdit"
                id="submit"
                (click)="addEditserviceArea(viewserviceAreaListData.id)"
              >
                <i class="fa fa-check-circle"></i>
                Update Service Area
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog
    header="Search Location"
    [(visible)]="ifsearchLocationModal"
    [modal]="true"
    [style]="{ width: '600px' }"
    [closable]="true"
    [draggable]="false"
    (onHide)="clearsearchLocationData()"
  >
  <div class="modal-body">
          <form name="searchLocationForm" [formGroup]="searchLocationForm">
            <div class="form-group">
              <label for="searchLocationname">Search Location Name:</label>
              <div class="row">
                <div class="col-lg-7 col-md-6">
                  <input
                    type="searchLocationname"
                    class="form-control"
                    id="searchLocationname"
                    placeholder="Enter Location Name"
                    formControlName="searchLocationname"
                  />
                </div>
                <div class="col-lg-5 col-md-6" style="padding: 0 10px !important">
                  <button
                    type="submit"
                    class="btn btn-primary btn-sm"
                    id="closeModal"
                    (click)="searchLocation()"
                    [disabled]="!searchLocationForm.valid"
                  >
                    <i class="fa fa-search"></i>
                    Search
                  </button>
                  <button
                    id="btn"
                    type="button"
                    class="btn btn-default btn-sm"
                    (click)="clearLocationForm()"
                    style="margin-left: 8px"
                  >
                    <i class="fa fa-refresh"></i>
                    Clear
                  </button>
                </div>
              </div>
            </div>
          </form>
          <div class="row">
            <div class="col-lg-12 col-md-12" style="margin-top: 3rem">
              <table class="table">
                <thead>
                  <tr>
                    <th style="width: 35%">Name</th>
                    <th style="width: 65%">Address</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let data of searchLocationData
                        | paginate
                          : {
                              id: 'searchpageData',
                              itemsPerPage: searchLocationItemPerPage,
                              currentPage: currentPagesearchLocationList,
                              totalItems: searchLocationtotalRecords
                            };
                      index as i
                    "
                  >
                    <td
                      class="HoverEffect"
                      (click)="filedLocation(data.placeId)"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title="Set value Latitude & Longitude"
                      style="width: 35%"
                    >
                      {{ data.name }}
                    </td>
                    <td style="width: 65%">{{ data.address }}</td>
                  </tr>
                </tbody>
              </table>
              <pagination-controls
                id="searchpageData"
                maxSize="10"
                directionLinks="true"
                previousLabel=""
                nextLabel=""
                (pageChange)="pageChangedSearchLocationList($event)"
              ></pagination-controls>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="addUpdateBtn">
            <button
              type="button"
              class="btn btn-danger btn-sm"
              data-dismiss="modal"
              (click)="clearsearchLocationData()"
            >
              Close
            </button>
          </div>
        </div>
        </p-dialog>
<!-- <div *ngIf="this.customerrMyInventoryView" class="row">
  <div class="col-md-12 col-sm-12">
    <div class="panel">
      <div class="panel-heading">
        <div class="displayflex">
          <button
            (click)="getSAData()"
            class="btn btn-secondary backbtn"
            data-placement="bottom"
            data-toggle="tooltip"
            title="Go to Service Area Details"
            type="button"
          >
            <i
              class="fa fa-arrow-circle-left"
              style="color: #f7b206 !important; font-size: 28px"
            ></i>
          </button>
          <h3 class="panel-title">
            {{ customerLedgerDetailData.title }}
            Inventory List
          </h3>
        </div>
        <div class="right">
          <button
            aria-controls="inventoryListPreCust1"
            aria-expanded="false"
            class="btn-toggle-collapse"
            data-target="#inventoryListPreCust1"
            data-toggle="collapse"
            type="button"
          >
            <i class="fa fa-minus-circle"></i>
          </button>
        </div>
        <button
          (click)="assignInventoryToCustomer(id)"
          class="btn btn-primary statusbtn"
          data-backdrop="static"
          data-keyboard="false"
          data-target="#assignInventory"
          data-toggle="modal"
          style="
            background-color: #f7b206 !important;
            font-size: 16px;
            padding: 3px 12px;
            margin-top: 10px;
          "
          title="Assign inventory"
          type="submit"
        >
          Assign Inventory
        </button>
      </div>

      <div class="panel-collapse collapse in" id="inventoryListPreCust1">
        <div class="panel-body table-responsive">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <table class="table">
                <thead>
                  <tr>
                    <th width="15%">Inward Number</th>
                    <th width="15%">Product Name</th>
                    <th width="10%">Assigned Qty.</th>
                    <th style="text-align: center" width="15%">Status</th>
                    <th width="10%">Next Approver</th>
                    <th width="10%">Assigned Date</th>
                    <th width="10%">Expiry Date</th>
                    <th width="15%">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let assignedInventory of this.assignedInventoryList
                        | paginate
                          : {
                              id: 'assignedInventoryListData',
                              itemsPerPage: customerInventoryListItemsPerPage,
                              currentPage: customerInventoryListDataCurrentPage,
                              totalItems: customerInventoryListDataTotalRecords
                            };
                      index as i
                    "
                  >
                    <td>{{ assignedInventory.inwardNumber }}</td>
                    <td>{{ assignedInventory.productName }}</td>
                    <td>
                      {{ assignedInventory.qty }}
                      {{ assignedInventory.productId.unit }}
                    </td>
                    <td style="text-align: center">
                      <div *ngIf="assignedInventory.status == 'ACTIVE'">
                        <span class="badge badge-success">Active</span>
                      </div>
                      <div *ngIf="assignedInventory.status == 'REJECTED'">
                        <span class="badge badge-danger">Rejected</span>
                      </div>
                      <div *ngIf="assignedInventory.status == 'PENDING'">
                        <span class="badge badge-info"> Pending For Approve </span>
                      </div>
                    </td>
                    <td>
                      {{ assignedInventory.assigneeName }}
                    </td>
                    <td>
                      {{ assignedInventory.assignedDateTime | date: "dd-MM-yyyy hh:mm:ss" }}
                    </td>
                    <td>
                      {{ assignedInventory.expiryDateTime | date: "dd-MM-yyyy hh:mm:ss" }}
                    </td>
                    <td>
                      <a
                        title="Edit"
                        style="margin-right: 5px"
                        (click)="editCustomerInventory(assignedInventory.id)"
                      >
                        <img src="assets/img/ioc01.jpg" />
                      </a>
                      <button
                        type="button"
                        class="btn btn-success gridbtn"
                        style="border: none; background: transparent; padding: 0; margin-right: 5px"
                        [disabled]="assignedInventory.nextApproverId != staffUser.id"
                        title="Approve"
                        (click)="approveInventory(assignedInventory.id)"
                      >
                        <img src="assets/img/assign.jpg" />
                      </button>
                      <button
                        type="button"
                        class="btn btn-danger gridbtn"
                        style="border: none; background: transparent; padding: 0; margin-right: 3px"
                        [disabled]="assignedInventory.nextApproverId != staffUser.id"
                        title="Reject"
                        (click)="rejectInventory(assignedInventory.id)"
                      >
                        <img src="assets/img/reject.jpg" />
                      </button>
                      <a
                        data-backdrop="static"
                        data-keyboard="false"
                        data-target="#inventoryStatusViewId"
                        data-toggle="modal"
                        id="delete-button"
                        href="javascript:void(0)"
                        title="Approval Progress"
                        (click)="checkStatus(assignedInventory.id, assignedInventory.status)"
                      >
                        <img
                          width="32"
                          height="32"
                          src="assets/img/05_inventory-to-customer_Y.png"
                        />
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div style="display: flex">
                <pagination-controls
                  (pageChange)="pageChangedEventCustomerAssignInventory($event)"
                  [directionLinks]="true"
                  id="assignedInventoryListData"
                  [maxSize]="10"
                  nextLabel=""
                  previousLabel=""
                >
                </pagination-controls>
                <div #itemPerPageDropDownInventory id="itemPerPageDropdown">
                  <p-dropdown
                    (onChange)="totalItemsEventCustomerAssignInventory($event)"
                    [options]="pageLimitOptions"
                    optionLabel="value"
                    optionValue="value"
                  ></p-dropdown>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div *ngIf="customerrMyInventoryView" class="row">
  <div class="col-md-12 col-sm-12">
    <div class="panel">
      <div class="panel-heading">
        <div class="displayflex">
          <button
            (click)="getSAData()"
            class="btn btn-secondary backbtn"
            data-placement="bottom"
            data-toggle="tooltip"
            title="Go to Customer Details"
            type="button"
          >
            <i
              class="fa fa-arrow-circle-left"
              style="color: #f7b206 !important; font-size: 28px"
            ></i>
          </button>
          <h3 class="panel-title">{{ inventoryServiceAreaData.name }} Inventory List</h3>
          <!-- <h3 class="panel-title">
            {{ customerLedgerDetailData.title }}
            {{ customerLedgerDetailData.custname }} 
          </h3> -->
        </div>
        <div class="right">
          <button
            aria-controls="inventoryListPreCust1"
            aria-expanded="false"
            class="btn-toggle-collapse"
            data-target="#inventoryListPreCust1"
            data-toggle="collapse"
            type="button"
          >
            <i class="fa fa-minus-circle"></i>
          </button>
        </div>
      </div>

      <div class="panel-collapse collapse in" id="inventoryListPreCust1">
        <div class="panel-body table-responsive">
          <app-common-inventory-management
            [data]="inventoryServiceAreaData"
            [type]="inventoryType"
            [openFrom]="'service_area'"
          ></app-common-inventory-management>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="row" *ngIf="inventoryStatusView"> -->
<div class="modal fade" id="inventoryStatusViewId" role="dialog">
  <div class="modal-dialog nearSearchModalLocation">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="panel-title">Inventory Progress</h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="progressbarWrap">
              <div
                class="circleWrap"
                [ngClass]="{
                  complete: data.status == 'Approved',
                  progressdv: data.status == 'inprogress'
                }"
                *ngFor="let data of inventoryStatusDetails; last as isLast"
              >
                <div class="circledv completedWorkFlowClass">
                  <i class="fa fa-check" *ngIf="data.status == 'Approved'"></i>
                </div>
                <p>{{ data.teamName }}</p>
                <div class="lines" *ngIf="!isLast">
                  <div class="line"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12">
            <div style="margin: 20px">
              <h3>Workflow Audit</h3>
              <div class="table-responsive">
                <div class="row">
                  <div class="col-lg-12 col-md-12">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Customer Name</th>
                          <th>Action</th>
                          <th>Staff name</th>
                          <th>Remark</th>
                          <th>Action Date</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          *ngFor="
                            let data of workflowAuditDataI
                              | paginate
                                : {
                                    id: 'searchMasterPageDataI',
                                    itemsPerPage: MasteritemsPerPageI,
                                    currentPage: currentPageMasterSlabI,
                                    totalItems: MastertotalRecordsI
                                  };
                            index as i
                          "
                        >
                          <td>
                            <div *ngIf="data.entityName">
                              {{ data.entityName }}
                            </div>
                            <div *ngIf="data.planName">
                              {{ data.planName }}
                            </div>
                          </td>
                          <td>
                            <div>
                              {{ data.action }}
                            </div>
                          </td>
                          <td>
                            <div>
                              {{ data.actionByName }}
                            </div>
                          </td>
                          <td>
                            <div>
                              {{ data.remark }}
                            </div>
                          </td>
                          <td>
                            <div>
                              {{ data.actionDateTime | date: "yyyy-MM-dd hh:mm a" }}
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <br />
                    <div class="pagination_Dropdown">
                      <pagination-controls
                        id="searchMasterPageDataI"
                        maxSize="10"
                        directionLinks="true"
                        previousLabel=""
                        nextLabel=""
                        (pageChange)="pageChangedMasterListI($event)"
                      >
                      </pagination-controls>
                      <div id="itemPerPageDropdown">
                        <!-- <p-dropdown
                          [options]="pageLimitOptions"
                          optionLabel="value"
                          optionValue="value"
                          (onChange)="TotalItemPerPageWorkFlow($event)"
                        ></p-dropdown> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer" style="display: flex; justify-content: flex-end">
        <div class="addUpdateBtn">
          <button class="btn btn-danger btn-sm" #closebutton data-dismiss="modal">Close</button>
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->

<div class="modal fade" id="inventoryStatusViewForReplace" role="dialog">
  <div class="modal-dialog nearSearchModalLocation">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="panel-title">Replace Inventory Progress</h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="progressbarWrap">
              <div
                class="circleWrap"
                [ngClass]="{
                  complete: data.status == 'Approved',
                  progressdv: data.status == 'inprogress'
                }"
                *ngFor="let data of inventoryStatusDetailsForReplace; last as isLast"
              >
                <div class="circledv completedWorkFlowClass">
                  <i class="fa fa-check" *ngIf="data.status == 'Approved'"></i>
                </div>
                <p>{{ data.teamName }}</p>
                <div class="lines" *ngIf="!isLast">
                  <div class="line"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer" style="display: flex; justify-content: flex-end">
        <div class="addUpdateBtn">
          <button class="btn btn-danger btn-sm" #closebutton data-dismiss="modal">Close</button>
          <br />
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog
    header="Assign Staff"
    [(visible)]="assignCustomerInventoryModal"
    [modal]="true"
    [style]="{ width: '600px' }"
    [closable]="true"
    [draggable]="false"
    (onHide)="closeAssignCustomerInventoryModal()"
  >

  <div class="modal-body">
        <div class="row">
          <div *ngIf="approved" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
              <h5>Select Staff</h5>
              <p-table
                [value]="approveInventoryData"
                [(selection)]="selectStaff"
                responsiveLayout="scroll"
              >
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 3rem"></th>
                    <th>Name</th>
                    <th>Username</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                  <tr>
                    <td>
                      <p-tableRadioButton [value]="product.id"></p-tableRadioButton>
                    </td>
                    <td>{{ product.fullName }}</td>
                    <td>
                      {{ product.username }}
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
        <!-- <input type="file" formControlName="fileName" name="fileName"> -->
      </div>
      <div class="modal-footer">
        <button
          *ngIf="approved && !selectStaff"
          type="submit"
          class="btn btn-primary"
          id="submit"
          disabled
          (click)="assignToStaff(true)"
        >
          <i class="fa fa-check-circle"></i>
          Assign
        </button>
        <button
          *ngIf="approved && selectStaff"
          type="submit"
          class="btn btn-primary"
          id="submit"
          (click)="assignToStaff(true)"
        >
          <i class="fa fa-check-circle"></i>
          Assign
        </button>
        <button type="button" class="btn btn-default" (click)="closeAssignCustomerInventoryModal()">Close</button>
      </div>
      </p-dialog>

<p-dialog
    header="Assign Staff"
    [(visible)]="rejectCustomerInventoryModal"
    [modal]="true"
    [style]="{ width: '600px' }"
    [closable]="true"
    [draggable]="false"
    (onHide)="modalCloseAssignStaff()"
  >

   <div class="modal-body">
        <div class="row">
          <div *ngIf="reject" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
              <h5>Select Staff</h5>
              <p-table
                [value]="rejectInventoryData"
                [(selection)]="selectStaffReject"
                responsiveLayout="scroll"
              >
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 3rem"></th>
                    <th>Name</th>
                    <th>Username</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                  <tr>
                    <td>
                      <p-tableRadioButton [value]="product.id"></p-tableRadioButton>
                    </td>
                    <td>{{ product.fullName }}</td>
                    <td>
                      {{ product.username }}
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
        <!-- <input type="file" formControlName="fileName" name="fileName"> -->
      </div>
      <div class="modal-footer">
        <button
          *ngIf="reject && !selectStaffReject"
          type="submit"
          class="btn btn-primary"
          id="submit"
          disabled
          (click)="assignToStaff(false)"
        >
          <i class="fa fa-times-circle"></i>
          Assign
        </button>
        <button
          *ngIf="reject && selectStaffReject"
          type="submit"
          class="btn btn-primary"
          id="submit"
          (click)="assignToStaff(false)"
        >
          <i class="fa fa-times-circle"></i>
          Assign
        </button>
        <button type="button" class="btn btn-default" (click)="modalCloseAssignStaff()">Close</button>
      </div>
      </p-dialog>

<!-- Map Model -->
<p-dialog
  header="Map"
  [(visible)]="isMapModelEnable"
  [style]="{ height: '90%', width: '80%' }"
  [modal]="true"
  [responsive]="true"
  [draggable]="false"
  [closable]="true"
  (onHide)="hideMapModel()"
>
  <div class="modal-body" style="height: 85% !important; overflow: auto !important">
    <div class="row">
      <div class="col-lg-7 col-md-6">
        <input
          type="searchLocationname"
          class="form-control"
          id="searchLocationname"
          placeholder="Enter Location Name"
          [(ngModel)]="location"
          ngx-google-places-autocomplete
          (onAddressChange)="handleAddressChange($event)"
        />
        <br />
      </div>
      <br />
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <agm-map
          [latitude]="lat"
          [longitude]="lng"
          [zoom]="zoom"
          (mapReady)="onMapReady($event)"
          [mapTypeId]="'hybrid'"
        >
          <agm-marker
            *ngFor="let m of markers; let i = index"
            [latitude]="m.lat"
            [longitude]="m.lng"
            [label]="m.label"
            [markerDraggable]="m.draggable"
          >
            >
          </agm-marker>
        </agm-map>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="addUpdateBtn">
      <button
        (click)="savePolygon()"
        class="btn btn-primary"
        data-title="Shift Location"
        type="button"
      >
        save
      </button>
      <button type="button" class="btn btn-default" (click)="hideMapModel()">Close</button>
      <button
        *ngIf="isClearShow && polygonDeleteAccess"
        type="button"
        class="btn btn-default"
        (click)="clearDrawnData()"
      >
        Clear
      </button>
      <button
        (click)="uploadPolygonDocument()"
        class="btn btn-primary"
        data-title="Shift Location"
        type="button"
        *ngIf="isUploadView"
      >
        Upload
      </button>
      <!-- <button
        (click)="downloadCsv()"
        class="btn btn-primary"
        type="button"
        *ngIf="!isUploadView && isserviceAreaEdit"
      >
        Download
      </button> -->
      <p-splitButton label="Download" [model]="items" *ngIf="!isUploadView && isserviceAreaEdit">
      </p-splitButton>
    </div>
  </div>
</p-dialog>
<!-- Bulk Add Pop-up -->
<p-dialog
  header="upload polygon file"
  [(visible)]="isBuldUpload"
  [style]="{ width: '40%' }"
  [modal]="true"
  [responsive]="true"
  [draggable]="false"
  [closable]="false"
>
  <div class="modal-body">
    <div [formGroup]="uploadDocForm" class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <label>Select files to upload (accept only .csv and .kml file) *</label>
        <input
          (change)="onFileChangeUpload($event)"
          class="form-control"
          formControlName="file"
          id="txtSelectDocument"
          multiple="multiple"
          placeholder="Select Attachment"
          style="padding: 2px; width: 100%"
          type="file"
          accept=".csv,text/csv,.kml"
        />
        <div *ngFor="let file of selectedFileUploadPreview; let i = index">
          <div
            style="
              padding-left: 10px;
              padding-right: 10px;
              padding-top: 4px;
              padding-bottom: 4px;
              font-size: 10px;
            "
          >
            {{ file?.name }}
            <button type="button" class="close" (click)="deletUploadedFile(file?.name)">
              &times;
            </button>
          </div>
        </div>
        <div *ngIf="submitted && uploadDocForm.controls.file.errors" class="errorWrap text-danger">
          <div
            *ngIf="submitted && uploadDocForm.controls.file.errors.required"
            class="error text-danger"
          >
            File is required.
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        (click)="uploadPolygonFile()"
        class="btn btn-primary"
        id="submit"
        type="submit"
        [disabled]="drawnPolygonLatLongList.length <= 0"
      >
        <i class="fa fa-check-circle"></i>
        Upload
      </button>
      <button type="button" class="btn btn-danger btn-sm" (click)="closeUploadDocumentId()">
        Close
      </button>
    </div>
  </div>
</p-dialog>

<!-- All polygons -->
<app-all-service-area-polygon
  *ngIf="isAllPolygoneModelShow"
  (hideAllPolygonModel)="hideAllPolygonModel()"
></app-all-service-area-polygon>

<p-dialog
  header="Bulk Assign"
  [(visible)]="bulkAssign"
  [style]="{ width: '50%', height: '250px' }"
  [modal]="true"
  [responsive]="true"
  [draggable]="false"
  [closable]="true"
  (onHide)="bulkAssignClose()"
>
  <div class="modal-body">
    <div [formGroup]="bulkAssignForm" class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <p-multiSelect
          [options]="bulkSAStaffList"
          formControlName="staffId"
          optionValue="id"
          optionLabel="firstname"
          filter="true"
          filterBy="firstname"
          placeholder="Select Staff"
          appendTo="body"
        ></p-multiSelect>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <p-multiSelect
          [options]="planAllData"
          formControlName="planId"
          optionValue="displayId"
          optionLabel="displayName"
          filter="true"
          filterBy="name"
          placeholder="Select a Plan"
          appendTo="body"
        ></p-multiSelect>
      </div>
    </div>
    <div class="modal-footer">
      <div class="addUpdateBtn">
        <button
          (click)="bulkAssignData()"
          class="btn btn-primary btn-sm"
          id="submit"
          type="submit"
          [disabled]="!bulkAssignForm.value.planId && !bulkAssignForm.value.staffId"
        >
          <i class="fa fa-check-circle"></i>
          Bulk Upload
        </button>
        <button
          #closebutton
          (click)="bulkAssignClose()"
          class="btn btn-danger btn-sm"
          data-dismiss="modal"
        >
          Close
        </button>
        <br />
      </div>
    </div>
  </div>
</p-dialog>
<!-- Add this dialog after the existing p-dialog for map -->
<p-dialog
  header="Enter Polygon Name"
  [(visible)]="showPolygonNameDialog"
  [style]="{ width: '30%' }"
  [modal]="true"
  [responsive]="true"
  [draggable]="false"
  [closable]="false"
>
  <div class="modal-body">
    <form [formGroup]="polygonNameForm">
      <div class="form-group">
        <label>Polygon Name *</label>
        <input
          type="text"
          class="form-control"
          formControlName="name"
          placeholder="Enter polygon name"
        />
        <div
          class="errorWrap text-danger"
          *ngIf="submitted && polygonNameForm.controls.name.errors"
        >
          <div
            class="error text-danger"
            *ngIf="submitted && polygonNameForm.controls.name.errors.required"
          >
            Polygon name is required.
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      (click)="savePolygonName()"
      [disabled]="!polygonNameForm.valid"
    >
      Save
    </button>
    <button type="button" class="btn btn-default" (click)="cancelPolygonName()">Cancel</button>
  </div>
</p-dialog>
