// :host ::ng-deep {

// }

.row {
  display: flex;
  flex-wrap: wrap;
}

.header{
  font-size: 20px;
  font-weight: bolder;
}

:host ::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  border: 1px solid;
  padding: 10px;
  box-shadow: 2px 2px #f7b206 !important
  
}

:host ::ng-deep legend {
  width: auto !important;
  display: block;
  padding-inline-start: 2px !important;
  padding-inline-end: 2px !important;
  margin-bottom: 0;
  font-size: 17px;
  line-height: inherit;
  color: #7f7b7bed;
}