// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$AdoptGui-primary: mat-palette($mat-indigo);
$AdoptGui-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$AdoptGui-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$AdoptGui-theme: mat-light-theme(
  (
    color: (
      primary: $AdoptGui-primary,
      accent: $AdoptGui-accent,
      warn: $AdoptGui-warn
    )
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($AdoptGui-theme);

.badge {
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 500;
  min-width: 75px;
  &.badge-success {
    color: #fff;
    background-color: #28a745;
  }
  &.badge-danger {
    color: #fff;
    background-color: #dc3545;
  }
  &.badge-info {
    color: #fff;
    background-color: #17a2b8;
  }
}

.p-datepicker table {
  width: auto !important;
}

p-calendar {
  &.m-b-0 {
    margin-bottom: 0;
    .p-calendar {
      margin-bottom: 0px;
    }
  }
  .p-calendar {
    // margin-bottom: 22px;
    width: 100%;

    .p-inputtext {
      border-radius: 2px;
      padding: 6px 12px;
      border: 1px solid #eaeaea;
      line-height: 1;
      background: transparent;
      color: #555;
      background-color: #fcfcfc;
      box-shadow: 0px 1px 2px 0 rgb(0 0 0 / 10%);
    }
  }
}

.sidebar {
  .userimg {
    padding: 12px 10px;
  }
  .nav {
    li {
      a {
        padding: 18px 10px 18px 10px;
        font-size: 14px;
        span {
          top: 0;
        }
        img {
          &.navi {
            width: 25px;
          }
        }
        i {
          &.icon-submenu {
            margin-right: 0;
          }
        }
      }
    }
  }
}
.dataGroup {
  margin-bottom: 10px;
  &.m-0 {
    margin-bottom: 0;
  }
  .datalbl {
    margin-right: 5px;
    font-weight: bold;
  }
}

.red-bg {
  background-color: #ffebeb;
}

.gridbtn {
  background: transparent;
  border: none;
  box-shadow: none;
  padding: 5px 10px;
  font-size: 18px;
  line-height: 1;
  &:disabled {
    &:hover {
      background: transparent;
      border: none;
    }
    &:focus {
      background: transparent;
      border: none;
    }
  }
  &:hover {
    background: transparent;
    border: none;
  }
  &:focus {
    background: transparent;
    border: none;
  }
  &.btn-success {
    color: #41b314;
  }
  &.btn-danger {
    color: #d9534f;
  }
}

a {
  &#assign-button {
    &[disabled="true"] {
      pointer-events: none !important;
      cursor: default;
      opacity: 0.7;
    }
  }
}

.progressbarWrap {
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
}
.progressbarWrap .circleWrap {
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  text-align: center;
}
.progressbarWrap .circledv {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  background: lightgray;
  line-height: 30px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  position: relative;
  z-index: 9;
  cursor: pointer;
}
.circleWrap p {
  margin-top: 10px;
  color: gray;
  font-family: var(--main-font-family);
}
.circleWrap.complete p {
  color: #000;
}
.complete .circledv {
  background: #1dc9b7;
}
.progressdv .circledv {
  background: #e7162b;
}
.inProgress .circledv {
  background: #f7b206;
}
.line {
  position: absolute;
  top: 12px;
  left: 50%;
  z-index: 1;
  height: 6px;
  transition: all 0.5s ease;
  background: lightgray;
  width: 100%;
}

.complete .line {
  background: #1dc9b7;
}
fieldset {
  &.m-0 {
    margin-top: 0;
  }
}

.p-organizationchart {
  .p-person {
    padding: 0;
    border: 0 none;
  }

  .node-header,
  .node-content {
    padding: 0.5em 0.7rem;
  }

  .node-header {
    background-color: #495ebb;
    color: #ffffff;
  }

  .node-content {
    text-align: center;
    border: 1px solid #495ebb;
  }

  .node-content img {
    border-radius: 50%;
  }

  .department-cfo {
    background-color: #7247bc;
    color: #ffffff;
  }

  .department-coo {
    background-color: #a534b6;
    color: #ffffff;
  }

  .department-cto {
    background-color: #e9286f;
    color: #ffffff;
  }
}
.is_disable {
  opacity: 1;
  background-color: #eee !important;
  cursor: not-allowed;
}
