<div class="row">
  <div class="col-md-12">
    <div class="panel top">
      <div class="panel-heading">
        <h3 class="panel-title">System Configuration</h3>
        <div class="right">
          <button
            type="button"
            class="btn-toggle-collapse"
            data-toggle="collapse"
            data-target="#searchConfig"
            aria-expanded="false"
            aria-controls="searchConfig"
          >
            <i class="fa fa-minus-circle"></i>
          </button>
        </div>
      </div>

      <div id="searchConfig" class="panel-collapse collapse in">
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-3 col-md-3">
              <input
                id="taxName"
                type="text"
                [(ngModel)]="searchSysConfigName"
                class="form-control"
                placeholder="Enter System Configuration Name"
                (keydown.enter)="searchSysConfig()"
              />
            </div>
            <div class="col-lg-3 col-md-4 marginTopSearchBtn">
              <button
                type="button"
                class="btn btn-primary"
                id="searchbtn"
                (click)="searchSysConfig()"
              >
                <i class="fa fa-search"></i>
                Search
              </button>
              <button
                type="reset"
                class="btn btn-default"
                id="searchbtn"
                (click)="clearSysConfig()"
              >
                <i class="fa fa-refresh"></i>
                Clear
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 left">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">System</h3>
        <div class="right">
            <button
                type="button"
                class="custom-sync"
                id="syncbtn"
                *ngIf="issystemconfigSync"
                (click)="syncSystemConfig()"
              >
                <i class="fas fa-sync" style="font-size: 14px !important;padding-right: 3px;"></i>
                Sync
              </button>
          <button
            type="button"
            class="btn-toggle-collapse"
            data-toggle="collapse"
            data-target="#listsystem"
            aria-expanded="false"
            aria-controls="listsystem"
          >
            <i class="fa fa-minus-circle"></i>
          </button>
        </div>
      </div>
      <div id="listsystem" class="panel-collapse collapse in">
        <div class="panel-body table-responsive">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <table class="table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Value</th>
                    <th *ngIf="editAccess">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let data of systemconfigListData
                        | paginate
                          : {
                              id: 'systemconfigListpageData',
                              itemsPerPage: systemconfigListdataitemsPerPage,
                              currentPage: currentPagesystemconfigListdata,
                              totalItems: systemconfigListdatatotalRecords
                            };
                      index as i
                    "
                  >
                    <td>{{ data.name }}</td>
                    <td>{{ data.value }}</td>
                    <td class="btnAction" *ngIf="editAccess">
                      <a
                        id="editbutton"
                        type="button"
                        (click)="editsystemconfig(data)"
                        class="curson_pointer"
                        title="Edit"
                      >
                        <img *ngIf="editAccess" src="assets/img/ioc01.jpg" />
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="pagination_Dropdown">
                <pagination-controls
                  id="systemconfigListpageData"
                  maxSize="10"
                  directionLinks="true"
                  previousLabel=""
                  nextLabel=""
                  (pageChange)="pageChangedsystemconfigList($event)"
                ></pagination-controls>
                <div id="itemPerPageDropdown">
                  <p-dropdown
                    [options]="pageLimitOptions"
                    optionLabel="value"
                    optionValue="value"
                    (onChange)="TotalItemPerPage($event)"
                  ></p-dropdown>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 right">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title" *ngIf="!issystemconfigEdit">Create System</h3>
        <h3 class="panel-title" *ngIf="issystemconfigEdit">Update System</h3>
        <div class="right">
          <button
            type="button"
            class="btn-toggle-collapse"
            data-toggle="collapse"
            data-target="#createSystem"
            aria-expanded="false"
            aria-controls="createSystem"
          >
            <i class="fa fa-minus-circle"></i>
          </button>
        </div>
      </div>

      <div id="createSystem" class="panel-collapse collapse in">
        <div class="panel-body table-responsive" *ngIf="!createAccess && !issystemconfigEdit">
          Sorry you have not privilege to create operation!
        </div>
        <div class="panel-body" *ngIf="createAccess || (issystemconfigEdit && editAccess)">
          <form [formGroup]="systemconfigGroupForm">
            <div>
              <label>Name *</label>
              <input
                id="name"
                type="text"
                class="form-control"
                placeholder="Enter Name"
                formControlName="name"
                [ngClass]="{
                  'is-invalid': submitted && systemconfigGroupForm.controls.name.errors
                }"
              />
              <div
                class="errorWrap text-danger"
                *ngIf="submitted && systemconfigGroupForm.controls.name.errors"
              >
                <div
                  class="error text-danger"
                  *ngIf="submitted && systemconfigGroupForm.controls.name.errors.required"
                >
                  Name is required.
                </div>
              </div>
              <br />
            </div>
            <div>
              <label>value *</label>
              <input
                id="value"
                type="text"
                class="form-control"
                placeholder="Enter Value"
                formControlName="value"
                [ngClass]="{
                  'is-invalid': submitted && systemconfigGroupForm.controls.value.errors
                }"
              />
              <div
                class="errorWrap text-danger"
                *ngIf="submitted && systemconfigGroupForm.controls.value.errors"
              >
                <div
                  class="error text-danger"
                  *ngIf="submitted && systemconfigGroupForm.controls.value.errors.required"
                >
                  Value is required.
                </div>
              </div>
              <br />
            </div>

            <div class="addUpdateBtn">
              <button
                type="submit"
                class="btn btn-primary"
                *ngIf="!issystemconfigEdit"
                id="submit"
                (click)="addEditsystemconfig('')"
              >
                <i class="fa fa-check-circle"></i>
                Add System
              </button>
              <button
                type="submit"
                class="btn btn-primary"
                *ngIf="issystemconfigEdit"
                id="submit"
                (click)="addEditsystemconfig(viewsystemconfigListData.id)"
              >
                <i class="fa fa-check-circle"></i>
                Update System
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
