<div class="row">
  <div class="col-md-12">
    <div class="panel top">
      <div class="panel-heading">
        <h3 class="panel-title">Reported Problem</h3>
        <div class="right">
          <button
            type="button"
            class="btn-toggle-collapse"
            data-toggle="collapse"
            data-target="#searchReportedProblem"
            aria-expanded="false"
            aria-controls="searchPlan"
          >
            <i class="fa fa-minus-circle"></i>
          </button>
        </div>
      </div>

      <div id="searchReportedProblem" class="panel-collapse collapse in">
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-3 col-md-3">
              <input
                type="number"
                [(ngModel)]="searchPhoneNo"
                class="form-control"
                placeholder="Enter Mobile No."
                (keydown.enter)="searchReportedData()"
              />
            </div>
            <div class="col-lg-3 col-md-4 marginTopSearchBtn">
              <button
                type="button"
                class="btn btn-primary"
                id="searchbtn"
                (click)="searchReportedData()"
              >
                <i class="fa fa-search"></i>
                Search
              </button>
              <button
                type="reset"
                class="btn btn-default"
                id="searchbtn"
                (click)="clearReportedData()"
              >
                <i class="fa fa-refresh"></i>
                Clear
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Reported Problem List</h3>
        <div class="right">
          <button
            type="button"
            class="btn-toggle-collapse"
            data-toggle="collapse"
            data-target="#listReportedPlanData"
            aria-expanded="false"
            aria-controls="listReportedPlanData"
          >
            <i class="fa fa-minus-circle"></i>
          </button>
        </div>
      </div>
      <div id="listReportedPlanData" class="panel-collapse collapse in">
        <div class="panel-body table-responsive">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <table class="table">
                <thead>
                  <tr>
                    <th>Issue</th>
                    <th>Phone</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let data of reportedProblemData
                        | paginate
                          : {
                              id: 'reportedProblemData',
                              itemsPerPage: reportedProblemitemsPerPage,
                              currentPage: currentPageReportedProblem,
                              totalItems: reportedProblemtotalRecords
                            };
                      index as i
                    "
                  >
                    <td>{{ data.issue }}</td>
                    <td>{{ data.phno }}</td>
                    <td>{{ data.desc }}</td>
                  </tr>
                </tbody>
              </table>
              <div class="pagination_Dropdown">
                <pagination-controls
                  id="reportedProblemData"
                  maxSize="10"
                  directionLinks="true"
                  previousLabel=""
                  nextLabel=""
                  (pageChange)="
                    pageChangedReportedProblemList((currentPageReportedProblem = $event))
                  "
                ></pagination-controls>
                <div id="itemPerPageDropdown">
                  <p-dropdown
                    [options]="pageLimitOptions"
                    optionLabel="value"
                    optionValue="value"
                    (onChange)="TotalItemPerPage($event)"
                  ></p-dropdown>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
