<div class="row">
  <div class="col-md-12">
    <!-- User Data -->
    <div class="panel top">
      <div class="panel-heading">
        <h3 class="panel-title">Template Management</h3>
        <div class="right">
          <button
            type="button"
            class="btn-toggle-collapse"
            data-toggle="collapse"
            data-target="#templateWiFiSearchPanel"
            aria-expanded="false"
            aria-controls="templateWiFiSearchPanel"
          >
            <i class="fa fa-minus-circle"></i>
          </button>
        </div>
      </div>
      <div id="templateWiFiSearchPanel" class="panel-collapse collapse in">
        <div class="panel-body">
          <div class="searchForm">
            <div class="row">
              <div class="col-md-3" style="padding-right: 0%; text-align: right">
                <label style="padding: 5px">Event Name:</label>
              </div>
              <div class="col-md-5" style="padding-left: 0%">
                <input
                  type="text"
                  name="EventName"
                  class="form-control"
                  placeholder="Enter Event Name"
                  [(ngModel)]="SearchName"
                  (keydown.enter)="searchGroupByName()"
                />
              </div>
              <div class="col-md-4" style="padding-left: 0%">
                <button
                  type="submit"
                  class="btn btn-primary"
                  data-title="Search Template"
                  data-toggle="tooltip"
                  (click)="searchGroupByName()"
                >
                  <i class="fa fa-search"></i>
                  Search
                </button>
                &nbsp;
                <button
                  type="reset"
                  class="btn btn-default"
                  data-title="Clear"
                  data-toggle="tooltip"
                  (click)="clearSearchForm()"
                >
                  <i class="fa fa-refresh"></i>
                  Clear
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="panel-body no-padding panel-udata">
                        <div class="col-md-3 pcol">
                            <div class="dbox">
                                <a href="javascript:void(0)">
                                    <img src="../../../assets/img/i01.png" style="width: 32px" />
                                    <h5>Create</h5>
                                    <p>Create Event</p>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 pcol">
                            <div class="dbox">
                                <a href="javascript:void(0)">
                                    <img src="../../../assets/img/i01.png" style="width: 32px" />
                                    <h5>Search</h5>
                                    <p>Search Event</p>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 pcol">
                            <div class="dbox">
                                <a href="javascript:void(0)">
                                    <img src="../../../assets/img/i01.png" style="width: 32px" />
                                    <h5>User Section</h5>
                                    <p>Details Comes Here</p>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 pcol noborder">
                            <div class="dbox">
                                <a href="javascript:void(0)">
                                    <img src="../../../assets/img/i01.png" style="width: 32px" />
                                    <h5>User Section</h5>
                                    <p>Details Comes Here</p>
                                </a>
                            </div>
                        </div>
                    </div> -->
      </div>
    </div>
    <!-- END User Data -->
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <!-- Data Table -->
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Events</h3>
        <div class="right">
          <button
            type="button"
            class="btn-toggle-collapse"
            data-toggle="collapse"
            data-target="#templateWiFiTablePanel"
            aria-expanded="false"
            aria-controls="templateWiFiTablePanel"
          >
            <i class="fa fa-minus-circle"></i>
          </button>
        </div>
      </div>
      <div id="templateWiFiTablePanel" class="panel-collapse collapse in">
        <div class="panel-body table-responsive">
          <!-- <p-table
              [value]="groupData.eventList"
              styleClass="p-datatable-gridlines"
              responsiveLayout="scroll"
            >
              <ng-template pTemplate="colgroup">
                <colgroup>
                  <col *ngFor="let col of columns" [style.width]="col.width" />
                </colgroup>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th style="background: #fbc02d; width: 10%;">Event Name</th>
                  <th style="background: #fbc02d; width: 14%;">Append URL</th>
                  <th style="background: #fbc02d; width: 3%;">
                    <div class="centerCheckbox">
                      <p-checkbox
                        name="allChecked"
                        [(ngModel)]="issmsChecked"
                        binary="true"
                        (onChange)="checkSMSAll($event)"
                      ></p-checkbox>
                    </div>
                  </th>
                  <th style="background: #fbc02d; width: 35%;">SMS Template</th>
                  <th style="background: #fbc02d; width: 3%;">
                     <div class="centerCheckbox">
                      <p-checkbox
                        name="allChecked"
                        binary="true"
                        [(ngModel)]="isEmailChecked"
                        (onChange)="checkAllEmail($event)"
                      ></p-checkbox>
                    </div>
                  </th>
                  <th style="background: #fbc02d; width: 35%;">
                    Email Template
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-group>
                <tr>
                  <td hidden="true">
                    <input
                      type="text"
                      class="form-control"
                      id="templateId"
                      name="templateId"
                      [value]="group.templateId"
                    />
                  </td>
                  <td hidden="true" style="white-space: normal;">
                    <input
                      type="text"
                      class="form-control"
                      id="templateName"
                      name="templateName"
                      [value]="group.eventName"
                    />
                  </td>
                  <td style="width: 10%;">{{ group.eventName }}</td>
                  <td style="width: 14%;" pEditableColumn>
                    <p-cellEditor>
                      <ng-template pTemplate="input" style="width: 14%;">
                        <textarea
                          name="appendUrl"
                          id="appendUrl"
                          class="templateTextArea"
                          [value]="group.template.appendUrl"
                          class="form-control"
                          placeholder="Enter URL"
                          [(ngModel)]="group.template.appendUrl"
                        ></textarea>
                      </ng-template>
                      <ng-template pTemplate="output" style="width: 14%;">
                        <span
                          style="
                            max-width: 90%;
                            white-space: normal;
                            overflow: scroll;
                          "
                        >
                          {{ group.template.appendUrl }}
                        </span>
                      </ng-template>
                    </p-cellEditor>
                  </td>
                  <td style="width: 3%;">
                    <div class="centerCheckbox">
                      <p-checkbox
                        class="p-field-checkbox"
                        name="smsEventConfigured"
                        [value]="group.template.smsEventConfigured"
                        [inputId]="group.templateId"
                        [(ngModel)]="group.template.smsEventConfigured"
                        (onChange)="addsmsChecked(group.templateId, $event)"
                        [binary]="true"
                      ></p-checkbox>
                    </div>
                  </td>
                  <td
                    style="width: 35%;"
                    pEditableColumn
                    style="
                      white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis;
                    "
                  >
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <textarea
                          name="smsTemplateData"
                          id="smsTemplateData"
                          [value]="group.template.smsTemplateData"
                          class="form-control templateTextArea"
                          placeholder="Enter SMS Template"
                          [(ngModel)]="group.template.smsTemplateData"
                        ></textarea>
                      </ng-template>
                      <ng-template pTemplate="output">
                        <span
                          style="
                            max-width: 90%;
                            white-space: normal;
                            overflow: scroll;
                          "
                        >
                          {{ group.template.smsTemplateData }}
                        </span>
                      </ng-template>
                    </p-cellEditor>
                  </td>
                  <td style="width: 3%;">
                    <div class="centerCheckbox">
                      <p-checkbox
                        class="p-field-checkbox"
                        name="checkVoucher"
                        [value]="group.template.emailEventConfigured"
                        [inputId]="group.templateId"
                        [(ngModel)]="group.template.emailEventConfigured"
                        (onChange)="addEmailChecked(group.templateId, $event)"
                        [binary]="true"
                      ></p-checkbox>
                    </div>
                  </td>
                  <td
                    style="width: 35%;"
                    pEditableColumn
                    style="
                      white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis;
                    "
                  >
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <textarea
                          style="width: 90%; display: inline-table;"
                          name="emailTemplateData"
                          id="emailTemplateData"
                          [value]="group.template.emailTemplateData"
                          class="form-control templateTextArea"
                          placeholder="Enter Email Template"
                          [(ngModel)]="group.template.emailTemplateData"
                        ></textarea>
                      </ng-template>
                      <ng-template pTemplate="output">
                        <span style="max-width: 90%; overflow: scroll;">
                          {{ group.template.emailTemplateData }}
                        </span>
                      </ng-template>
                    </p-cellEditor>
                  </td>
                </tr>
              </ng-template>
            </p-table> -->

          <table id="templateTabel">
            <thead>
              <tr>
                <th style="background: #fbc02d; width: 10%">Event Name</th>
                <th style="background: #fbc02d; width: 10%">BU Name</th>
                <th style="background: #fbc02d; width: 14%">Append URL</th>
                <th style="background: #fbc02d; width: 5%">
                  <!-- <input style="padding: 5px; justify-self: center" type="checkbox" name="allChecked" checked /> -->
                  <div class="centerCheckbox">
                    <p-checkbox
                      name="allChecked"
                      [(ngModel)]="issmsChecked"
                      binary="true"
                      (onChange)="checkSMSAll($event)"
                    ></p-checkbox>
                  </div>
                </th>
                <th style="background: #fbc02d; width: 35%">SMS Template</th>
                <th style="background: #fbc02d; width: 5%">
                  <!-- <input style="padding: 5px; justify-self: center" type="checkbox" name="allChecked" checked /> -->
                  <div class="centerCheckbox">
                    <p-checkbox
                      name="allChecked"
                      binary="true"
                      [(ngModel)]="isEmailChecked"
                      (onChange)="checkAllEmail($event)"
                    ></p-checkbox>
                  </div>
                </th>
                <th style="background: #fbc02d; width: 35%">Email Template</th>
                 <th style="background: #fbc02d; width: 5%">
                  <div class="centerCheckbox">
                    <p-checkbox
                      name="allChecked"
                      binary="true"
                      [(ngModel)]="isPushNotificationChecked"
                      (onChange)="checkAllPushNotification($event)"
                    ></p-checkbox>
                  </div>
                </th>
                <th style="background: #fbc02d; width: 35%">Push Notification Template</th>
                <th style="background: #fbc02d; width: 10%">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let group of groupData.templateList; index as i">
                <td hidden="true">
                  <input
                    type="text"
                    class="form-control"
                    id="templateId"
                    name="templateId"
                    [value]="group.templateId"
                  />
                </td>
                <td hidden="true" style="white-space: normal">
                  <input
                    type="text"
                    class="form-control"
                    id="templateName"
                    name="templateName"
                    [value]="group.templateName"
                  />
                </td>
                <td style="width: 10%">{{ group.templateName }}</td>
                <td style="width: 10%">{{ group.buName }}</td>
                <td
                  *ngIf="groupAppednURL !== group.templateId"
                  (click)="appendUrlTemplateDataEdit(group.templateId)"
                >
                  <div>
                    {{ group.appendUrl }}
                  </div>
                </td>
                <td *ngIf="groupAppednURL === group.templateId">
                  <textarea
                    name="appendUrl"
                    id="appendUrl"
                    [value]="group.appendUrl"
                    class="form-control"
                    placeholder="Enter SMS Template"
                    [(ngModel)]="group.appendUrl"
                  ></textarea>
                </td>
                <td>
                  <div class="centerCheckbox">
                    <p-checkbox
                      class="p-field-checkbox"
                      name="smsEventConfigured"
                      [value]="group.smsEventConfigured"
                      [inputId]="group.templateId"
                      [(ngModel)]="group.smsEventConfigured"
                      (onChange)="addsmsChecked(group.templateId, $event)"
                      [binary]="true"
                    ></p-checkbox>
                  </div>
                </td>
                <td
                  (click)="smsTemplateDataEdit(group.templateId)"
                  *ngIf="groupID !== group.templateId"
                >
                  <div>
                    {{ group.smsTemplateData }}
                  </div>
                </td>
                <td *ngIf="groupID === group.templateId">
                  <textarea
                    name="smsTemplateData"
                    id="smsTemplateData"
                    [value]="group.smsTemplateData"
                    class="form-control"
                    placeholder="Enter SMS Template"
                    [(ngModel)]="group.smsTemplateData"
                  ></textarea>
                </td>
                <td>
                  <div class="centerCheckbox">
                    <p-checkbox
                      class="p-field-checkbox"
                      name="checkVoucher"
                      [value]="group.emailEventConfigured"
                      [inputId]="group.templateId"
                      [(ngModel)]="group.emailEventConfigured"
                      (onChange)="addEmailChecked(group.templateId, $event)"
                      [binary]="true"
                    ></p-checkbox>
                  </div>
                </td>
                <td
                  *ngIf="groupEmailID !== group.templateId"
                  (click)="EmailTemplateDataEdit(group.templateId)"
                >
                  <div>
                    {{ group.emailTemplateData }}
                  </div>
                </td>
                <td *ngIf="groupEmailID === group.templateId">
                  <textarea
                    name="emailTemplateData"
                    id="emailTemplateData"
                    [value]="group.emailTemplateData"
                    class="form-control"
                    placeholder="Enter SMS Template"
                    [(ngModel)]="group.emailTemplateData"
                  ></textarea>
                </td>
                <td>
                  <div class="centerCheckbox">
                    <p-checkbox
                      class="p-field-checkbox"
                      name="checkVoucher"
                      [value]="group.isPushNotification"
                      [inputId]="group.templateId"
                      [(ngModel)]="group.isPushNotification"
                      (onChange)="addPushChecked(group.templateId, $event)"
                      [binary]="true"
                    ></p-checkbox>
                  </div>
                </td>
                <td
                  *ngIf="groupPushNotificationID !== group.templateId"
                  (click)="PushTemplateDataEdit(group.templateId)"
                >
                  <div>
                    {{ group.pushNoticationTemplete }}
                  </div>
                </td>
                <td *ngIf="groupPushNotificationID === group.templateId">
                  <textarea
                    name="pushNoticationTemplete"
                    id="pushNoticationTemplete"
                    [value]="group.pushNoticationTemplete"
                    class="form-control"
                    placeholder="Enter Push Template"
                    [(ngModel)]="group.pushNoticationTemplete"
                  ></textarea>
                </td>
                

                <td>
                  <div class="addUpdateBtn" style="margin-top: 20px">
                    <button
                      *ngIf="saveAccess"
                      type="submit"
                      class="btn btn-primary"
                      data-title="Submit Template Details"
                      data-toggle="tooltip"
                      (click)="editTemplate(group)"
                    >
                      <i class="fa fa-check-circle"></i>
                      Save
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
