<div class="row" *ngIf="!isCustomerDetailOpen">
  <div class="col-md-12">
    <div class="panel mb-15">
      <!-- Data Table -->
      <div class="panel-heading">
        <h3 class="panel-title">Net Conf Customers</h3>
        <div class="right">
          <button
            type="button"
            class="btn-toggle-collapse"
            data-toggle="collapse"
            data-target="#searchNetCust"
            aria-expanded="false"
            aria-controls="searchNetCust"
          >
            <i class="fa fa-minus-circle"></i>
          </button>
        </div>
      </div>

      <div class="panel-collapse collapse in" id="searchNetCust">
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-3 col-md-3 m-b-10">
              <p-dropdown
                [(ngModel)]="searchOption"
                [filter]="true"
                [options]="searchOptionSelect"
                filterBy="label"
                optionLabel="label"
                optionValue="value"
                placeholder="Select a Search Option"
              ></p-dropdown>
            </div>
            <div
              *ngIf="
                searchOption != 'customerStatus' &&
                searchOption != 'cafStatus' &&
                searchOption != 'custtype' &&
                searchOption != 'currentAssigneeName' &&
                searchOption != 'cafCreatedDate' &&
                searchOption != 'currentAssignedTeam' &&
                searchOption != 'expiryDate'
              "
              class="col-lg-3 col-md-3 m-b-10"
            >
              <input
                [(ngModel)]="searchDeatil"
                class="form-control"
                id="username"
                placeholder="Enter Search Detail"
                type="text"
                (keydown.enter)="searchCustomer()"
              />
            </div>
            <div
              class="col-lg-3 col-md-3 m-b-10"
              *ngIf="searchOption === 'customerStatus' || searchOption === 'cafStatus'"
            >
              <p-dropdown
                [options]="commondropdownService.CustomerStatusValue"
                optionValue="value"
                optionLabel="text"
                filter="true"
                filterBy="text"
                placeholder="Select a Status"
                [(ngModel)]="searchDeatil"
              ></p-dropdown>
            </div>
            <div class="col-lg-3 col-md-3 m-b-10" *ngIf="searchOption === 'custtype'">
              <p-dropdown
                [options]="commondropdownService.customerTypeSearchOption"
                optionValue="value"
                optionLabel="label"
                filter="true"
                filterBy="label"
                placeholder="Select a Customer Type"
                [(ngModel)]="searchDeatil"
              ></p-dropdown>
            </div>
            <div class="col-lg-3 col-md-3 m-b-10" *ngIf="searchOption === 'currentAssigneeName'">
              <p-dropdown
                [options]="commondropdownService.activeStaffList"
                optionValue="username"
                optionLabel="username"
                filter="true"
                filterBy="username"
                placeholder="Select a Assigned Staff"
                [(ngModel)]="searchDeatil"
              ></p-dropdown>
            </div>
            <div class="col-lg-3 col-md-3 m-b-10" *ngIf="searchOption === 'currentAssignedTeam'">
              <p-dropdown
                [options]="commondropdownService.teamListData"
                optionValue="name"
                optionLabel="name"
                filter="true"
                filterBy="name"
                placeholder="Select a Assigned Team"
                [(ngModel)]="searchDeatil"
              ></p-dropdown>
            </div>
            <div
              class="col-lg-3 col-md-3 m-b-10"
              *ngIf="searchOption === 'cafCreatedDate' || searchOption === 'expiryDate'"
            >
              <p-calendar
                [hideOnDateTimeSelect]="true"
                [showButtonBar]="true"
                [showIcon]="true"
                [style]="{ width: '100%' }"
                dateFormat="yy-MM-dd"
                [(ngModel)]="searchDeatil"
                placeholder="Enter Date"
              ></p-calendar>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <button
                (click)="searchCustomer()"
                class="btn btn-primary"
                id="searchbtn"
                type="button"
                [disabled]="!searchDeatil"
              >
                <i class="fa fa-search"></i>
                Search
              </button>
              <button
                (click)="clearSearchcustomer()"
                class="btn btn-default"
                id="searchbtn"
                type="reset"
              >
                <i class="fa fa-refresh"></i>
                Clear
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-collapse collapse in" id="radiusCustomerTabelPanel">
        <div class="panel-body table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Customer Name</th>
                <th>Username</th>
                <th>Mobile No</th>
                <th>Email</th>
                <th>Customer Type</th>
                <th width="18%">Account No</th>
                <th>Status</th>
                <th *ngIf="independentAAA">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let customer of customerSearchData
                    | paginate
                      : {
                          id: 'listing_customerdata',
                          itemsPerPage: itemsPerPage,
                          currentPage: currentPage,
                          totalItems: totalRecords
                        };
                  index as i
                "
              >
                <td>
                  <a
                    [routerLink]="['/home/net-Conf/detail/', customer.id]"
                    href="javascript:void(0)"
                    style="color: #f7b206"
                  >
                    {{ customer.fullName }}
                  </a>
                </td>
                <td>{{ customer.username }}</td>
                <td>{{ customer.mobile }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.custtype }}</td>
                <td>{{ customer.acctno }}</td>
                <td>{{ customer.status }}</td>
                <td class="btnAction" *ngIf="independentAAA">
                  <a
                    [routerLink]="['/home/net-Conf/netConfcreatecustomer/edit/', customer.id]"
                    href="javascript:void(0)"
                    id="editbutton"
                    title="Edit"
                    type="button"
                  >
                    <img src="assets/img/ioc01.jpg" />
                  </a>
                  <a
                    (click)="openChangeStatus(customer.id, customer.status)"
                    class="detailOnAnchorClick"
                    title="Change Status"
                  >
                    <img class="icon" src="assets/img/E_Status_Y.png" />
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <br />
          <div class="row">
            <div class="col-md-12" style="display: flex">
              <pagination-controls
                id="listing_customerdata"
                [maxSize]="10"
                [directionLinks]="true"
                previousLabel=""
                nextLabel=""
                (pageChange)="pageChanged($event)"
              ></pagination-controls>
              <div id="itemPerPageDropdown">
                <p-dropdown
                  [options]="pageLimitOptions"
                  optionLabel="value"
                  optionValue="value"
                  (onChange)="TotalItemPerPage($event)"
                ></p-dropdown>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END Data Table -->
  </div>
</div>

<app-cust-change-status
  *ngIf="showChangeStatusModal"
  [custId]="selectedCustId"
  [moduleType]="'netConf'"
  [custStatus]="custStatus"
  (closeChangeStatusEvent)="closeChangeStatusEvent()"
></app-cust-change-status>
