<div class="row">
  <div class="col-md-12">
    <div class="panel mb-15">
      <div class="panel-heading">
        <div class="displayflex">
          <button
            type="button"
            class="btn btn-secondary backbtn"
            data-toggle="tooltip"
            data-placement="bottom"
            title="Go to Customer List"
            (click)="listCustomer()"
          >
            <i
              class="fa fa-arrow-circle-left"
              style="color: #f7b206 !important; font-size: 28px"
            ></i>
          </button>
          <h3 class="panel-title">
            {{ customerLedgerDetailData?.title }}
            {{ customerLedgerDetailData?.custname }} Details
          </h3>
        </div>
      </div>
      <div class="panel-collapse collapse in" id="precustDetails">
        <div class="panel-body table-responsive">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <p-tabView styleClass="x-tab-view">
                <p-tabPanel class="header" header="Basic Details" [headerStyle]="{ width: '33%' }">
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <p-card>
                        <div class="row">
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Name :</label>
                            <span>
                              {{ customerLedgerDetailData?.title }}
                              {{ customerLedgerDetailData?.firstname }}
                              {{ customerLedgerDetailData?.lastname }}
                            </span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Contact Person :</label>
                            <span>{{ customerLedgerDetailData?.contactperson }}</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">CAF No. :</label>
                            <span>{{ customerLedgerDetailData?.cafno }}</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Act No. :</label>
                            <span>{{ customerLedgerDetailData?.acctno }}</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Username :</label>
                            <span>{{ customerLedgerDetailData?.username }}</span>
                          </div>

                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Status :</label>
                            <span>{{
                              customerLedgerDetailData?.status == "Ingrace" ||
                              customerLedgerDetailData?.status == "INGRACE"
                                ? "InGrace"
                                : customerLedgerDetailData?.status
                            }}</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Customer Type :</label>
                            <span>{{ customerLedgerDetailData?.custtype }}</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Calendar Type :</label>
                            <span>{{ customerLedgerDetailData?.calendarType }}</span>
                          </div>

                          <div
                            *ngIf="customerPopName"
                            class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup"
                          >
                            <label class="datalbl">POP Name :</label>
                            <span>{{ customerPopName }}</span>
                          </div>
                          <div
                            *ngIf="customerLedgerDetailData?.billday"
                            class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup"
                          >
                            <label class="datalbl">Bill Day :</label>
                            <span>{{ customerLedgerDetailData?.billday }}</span>
                          </div>
                          <div
                            *ngIf="customerLedgerDetailData?.nextBillDate"
                            class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup"
                          >
                            <label class="datalbl">Next bill date :</label>
                            <span>
                              {{ customerLedgerDetailData?.nextBillDate | date: "dd-MM-yyy" }}
                            </span>
                          </div>
                          <div
                            *ngIf="customerLedgerDetailData?.parentCustomerName"
                            class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup"
                          >
                            <label class="datalbl">Parent Customer :</label>
                            <span>{{ customerLedgerDetailData?.parentCustomerName }}</span>
                          </div>
                          <div
                            *ngIf="customerLedgerDetailData?.invoiceType"
                            class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup"
                          >
                            <label class="datalbl">Invoice Type :</label>
                            <span>{{ customerLedgerDetailData?.invoiceType }}</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">First Activation Date :</label>
                            <span>{{
                              customerLedgerDetailData?.firstActivationDate
                                | date: "dd-MM-yyyy hh:mm a"
                            }}</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Primary Mobile Number :</label>
                            <span>
                              <span *ngIf="customerLedgerDetailData?.countryCode">
                                ( {{ customerLedgerDetailData?.countryCode }} )&nbsp;
                              </span>
                              {{ customerLedgerDetailData?.mobile }}
                            </span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Secondary Mobile Number :</label>
                            <span *ngIf="customerLedgerDetailData?.altmobile">
                              <span *ngIf="customerLedgerDetailData?.countryCode">
                                ( {{ customerLedgerDetailData?.countryCode }} )&nbsp;
                              </span>
                              {{ customerLedgerDetailData?.altmobile }}
                            </span>
                            <span *ngIf="!customerLedgerDetailData?.altmobile">-</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Telephone :</label>
                            <span *ngIf="customerLedgerDetailData?.phone">
                              {{ customerLedgerDetailData?.phone }}
                            </span>
                            <span *ngIf="!customerLedgerDetailData?.phone">-</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">FAX Number :</label>
                            <span *ngIf="customerLedgerDetailData?.pan">
                              {{ customerLedgerDetailData?.fax }}
                            </span>
                            <span *ngIf="!customerLedgerDetailData?.fax">-</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Address :</label>
                            <span>{{ customerAddress?.landmark }}</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Email :</label>
                            <span>{{ customerLedgerDetailData?.email }}</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Bill to Name :</label>
                            <span *ngIf="customerBill">
                              {{ customerLedgerDetailData.customerbillingid }}
                            </span>
                            <span *ngIf="!customerBill">-</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Bill to Address :</label>
                            <!-- {{ customerLedgerDetailData.customerbillingid }} -->
                            <span></span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">TIN/PAN Number :</label>
                            <span *ngIf="customerLedgerDetailData?.pan">
                              {{ customerLedgerDetailData?.pan }}
                            </span>
                            <span *ngIf="!customerLedgerDetailData?.pan">-</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Activated By :</label>
                            <!-- {{ customerLedgerDetailData?.pan }} -->
                            <span></span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Account Status :</label>
                            <!-- {{ customerLedgerDetailData?.pan }} -->
                            <span></span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Customer Category :</label>
                            <span>{{ customerLedgerDetailData?.dunningCategory }}</span>
                            <span *ngIf="!customerLedgerDetailData?.dunningCategory">-</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Customer Sub Type :</label>
                            <span>{{ customerLedgerDetailData?.customerType }}</span>
                            <span *ngIf="!customerLedgerDetailData?.customerType">-</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Customer Sector :</label>
                            <span>{{ customerLedgerDetailData?.customerSector }}</span>
                            <span *ngIf="!customerLedgerDetailData?.customerSector">-</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Customer Sub Sector :</label>
                            <span>{{ customerLedgerDetailData?.customerSubSector }}</span>
                            <span *ngIf="!customerLedgerDetailData?.customerSubSector">-</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Ezybill ID :</label>
                            <span></span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Date of Birth :</label>
                            <span>{{
                              customerLedgerDetailData?.birthDate | date: "dd-MM-yyy"
                            }}</span>
                            <span></span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Dunning Enable :</label>
                            <span>{{ customerLedgerDetailData?.isDunningEnable }}</span>
                            <span></span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Automatic notification :</label>
                            <span>{{ customerLedgerDetailData?.isNotificationEnable }}</span>
                            <span></span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Disable selfcare :</label>
                            <span></span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Disable renew (self care & north bound) :</label>
                            <!-- <span>{{ customerLedgerDetailData?.isNotificationEnable }}</span> -->
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Expiry Date :</label>
                            <span>{{ customerLedgerDetailData?.expirydate }}</span>
                            <span></span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Next Quota Reset Date :</label>
                            <span>{{
                              customerLedgerDetailData?.nextQuotaResetDate | date: "dd-MM-yyyy"
                            }}</span>
                            <span></span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">MAC Retention Date :</label>
                            <span>{{
                              customerLedgerDetailData?.nearestMacRetentionDate | date: "dd-MM-yyyy"
                            }}</span>
                            <span></span>
                          </div>
                        </div>
                      </p-card>
                    </div>
                  </div>
                </p-tabPanel>
                <p-tabPanel header="Service Area Details" [headerStyle]="{ width: '33%' }"
                  ><div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <p-card>
                        <div class="row">
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Service Area Name :</label>
                            <span>{{ serviceAreaDATA }}</span>
                            <span *ngIf="!serviceAreaDATA">-</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Branch Name / Partner :</label>
                            <span>{{ customerLedgerDetailData?.branchName }}</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Region :</label>
                            <span>{{ customerLedgerDetailData?.regionName }}</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Business Verticals :</label>
                            <span>{{ customerLedgerDetailData?.buVerticals }}</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Municipality :</label>
                            <span *ngIf="presentAdressDATA != null">
                              {{ presentAdressDATA.code }}
                            </span>
                            <span *ngIf="presentAdressDATA == null">-</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Ward :</label>
                            <span *ngIf="presentAdressDATA != null">
                              {{ presentAdressDATA.name }}
                            </span>
                            <span *ngIf="presentAdressDATA == null">-</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">District :</label>
                            <span *ngIf="presentAdressDATA != null">
                              {{ presentAdressDATA.cityName }}
                            </span>
                            <span *ngIf="presentAdressDATA == null">-</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Province :</label>
                            <span *ngIf="presentAdressDATA != null">
                              {{ presentAdressDATA.stateName }}
                            </span>
                            <span *ngIf="presentAdressDATA == null">-</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Valley Type :</label>
                            <span>{{ customerLedgerDetailData?.valleyType }}</span>
                            <span *ngIf="!customerLedgerDetailData?.valleyType">-</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Latitude :</label>
                            <span *ngIf="customerLedgerDetailData?.latitude">
                              {{ customerLedgerDetailData?.latitude }}
                            </span>
                            <span *ngIf="!customerLedgerDetailData?.latitude">-</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Longititude :</label>
                            <span *ngIf="customerLedgerDetailData?.longitude">
                              {{ customerLedgerDetailData?.longitude }}
                            </span>
                            <span *ngIf="!customerLedgerDetailData?.longitude">-</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Landmark :</label>
                            <span>{{ customerAddress?.landmark }}</span>
                          </div>
                        </div>
                      </p-card>
                    </div>
                  </div>
                </p-tabPanel>
                <p-tabPanel header="Network Location Details" [headerStyle]="{ width: '33%' }">
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <p-card>
                        <div class="row">
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">POP :</label>
                            <span *ngIf="customerLedgerDetailData?.popName != null">
                              {{ customerLedgerDetailData?.popName }}
                            </span>
                            <span *ngIf="customerLedgerDetailData?.popName == null"> - </span>
                            <!-- <span>{{ customerLedgerDetailData?.popName }}</span> -->
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">OLT :</label>
                            <span *ngIf="customerLedgerDetailData?.oltDeviceName != null">
                              {{ customerLedgerDetailData?.oltDeviceName }}
                            </span>
                            <span *ngIf="customerLedgerDetailData?.oltDeviceName == null"> - </span>
                            <!-- <span>{{ customerLedgerDetailData?.oltDeviceName }}</span> -->
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Card Number :</label>
                            <span>-</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Master DB :</label>
                            <span *ngIf="customerLedgerDetailData?.masterdbDeviceName != null">
                              {{ customerLedgerDetailData?.masterdbDeviceName }}
                            </span>
                            <span *ngIf="customerLedgerDetailData?.masterdbDeviceName == null">
                              -
                            </span>
                            <!-- <span>{{ customerLedgerDetailData?.masterdbDeviceName }}</span> -->
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Splitter/DB :</label>
                            <span *ngIf="customerLedgerDetailData?.splitterDerviceName != null">
                              {{ customerLedgerDetailData?.splitterDerviceName }}
                            </span>
                            <span *ngIf="customerLedgerDetailData?.splitterDerviceName == null">
                              -
                            </span>
                            <!-- <span>{{ customerLedgerDetailData?.splitterDerviceName }}</span> -->
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">MAC :</label>
                            <span *ngIf="customerLedgerDetailData?.macAddress != ''">
                              {{ customerLedgerDetailData?.macAddress }}
                            </span>
                            <span *ngIf="customerLedgerDetailData?.macAddress == ''"> - </span>
                            <!-- <span>{{ customerLedgerDetailData?.macAddress }}</span> -->
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">ONU Serial Number :</label>
                            <span *ngIf="customerLedgerDetailData?.onuSerialNumber != null">
                              {{ customerLedgerDetailData?.onuSerialNumber }}
                            </span>
                            <span *ngIf="customerLedgerDetailData?.onuSerialNumber == null">
                              -
                            </span>
                            <!-- <span>{{ customerLedgerDetailData?.onuSerialNumber }}</span> -->
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">External ONU Serial Number :</label>
                            <span *ngIf="customerLedgerDetailData?.externalOnuSerialNumber != null">
                              {{ customerLedgerDetailData?.externalOnuSerialNumber }}
                            </span>
                            <span *ngIf="customerLedgerDetailData?.externalOnuSerialNumber == null">
                              -
                            </span>
                            <!-- <span>{{ customerLedgerDetailData?.externalOnuSerialNumber }}</span> -->
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Static IP :</label>
                            <span *ngIf="customerLedgerDetailData?.framedIpBind != null">
                              {{ customerLedgerDetailData?.framedIpBind }}
                            </span>
                            <span
                              *ngIf="
                                customerLedgerDetailData?.framedIpBind == null ||
                                customerLedgerDetailData?.framedIpBind == ''
                              "
                            >
                            </span>
                            <!-- <span>{{ customerLedgerDetailData?.framedIpBind }}</span> -->
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">NAS IP :</label>
                            <span *ngIf="customerLedgerDetailData?.nasIpAddress != null">
                              {{ customerLedgerDetailData?.nasIpAddress }}
                            </span>
                            <span
                              *ngIf="
                                customerLedgerDetailData?.nasIpAddress == null ||
                                customerLedgerDetailData?.nasIpAddress == ''
                              "
                            >
                              -
                            </span>
                            <!-- <span>{{ customerLedgerDetailData?.framedIp }}</span> -->
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">NAS Port :</label>
                            <span *ngIf="customerLedgerDetailData?.nasPort != null">
                              {{ customerLedgerDetailData?.nasPort }}
                            </span>
                            <span
                              *ngIf="
                                customerLedgerDetailData?.nasPort == null ||
                                customerLedgerDetailData?.nasPort == ''
                              "
                            >
                              -
                            </span>
                            <!-- <span>{{ customerLedgerDetailData?.nasPort }}</span> -->
                          </div>
                          <!-- <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                                                        <label class="datalbl">Max Current Session :</label>
                                                        <span>-</span>
                                                    </div> -->
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Network Profile :</label>
                            <span>-</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Location :</label>
                            <span *ngIf="locationList != ''">
                              {{ locationList }}
                            </span>
                            <span *ngIf="locationList == ''">-</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Is Parent Location :</label>
                            <span>
                              {{ isParentLocation }}
                            </span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Parent Quota Type :</label>
                            <span *ngIf="customerLedgerDetailData?.parentQuotaType != null">
                              {{ customerLedgerDetailData?.parentQuotaType }}
                            </span>
                            <span
                              *ngIf="
                                customerLedgerDetailData?.parentQuotaType == null ||
                                customerLedgerDetailData?.parentQuotaType == ''
                              "
                            >
                              -
                            </span>
                          </div>
                          <!-- <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">NAS Port:</label>
                            <span *ngIf="customerLedgerDetailData?.nasPort != null">
                              {{ customerLedgerDetailData?.nasPort }}
                            </span>
                            <span *ngIf="!customerLedgerDetailData?.nasPort">-</span>
                          </div> -->
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Framed IP Address :</label>
                            <span *ngIf="customerLedgerDetailData?.framedIp">
                              {{ customerLedgerDetailData?.framedIp }}
                            </span>
                            <span *ngIf="!customerLedgerDetailData?.framedIp">-</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Framed IPv6 Address :</label>
                            <span *ngIf="customerLedgerDetailData?.framedIpv6Address">
                              {{ customerLedgerDetailData?.framedIpv6Address }}
                            </span>
                            <span *ngIf="!customerLedgerDetailData?.framedIpv6Address">-</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Max Concurrent Session :</label>
                            <span *ngIf="customerLedgerDetailData?.maxconcurrentsession != null">
                              {{ customerLedgerDetailData?.maxconcurrentsession }}
                            </span>
                            <span *ngIf="customerLedgerDetailData?.maxconcurrentsession == null"
                              >-
                            </span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Gateway IP:</label>
                            <span *ngIf="customerLedgerDetailData?.gatewayip">
                              {{ customerLedgerDetailData?.gatewayip }}
                            </span>
                            <span *ngIf="!customerLedgerDetailData?.gatewayip">-</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Skipnet Conf :</label>
                            <span *ngIf="customerLedgerDetailData?.skipnetconf">
                              {{ customerLedgerDetailData?.skipnetconf }}
                            </span>
                            <span *ngIf="!customerLedgerDetailData?.skipnetconf">-</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Rdim Port:</label>
                            <span *ngIf="customerLedgerDetailData?.rdimport">
                              {{ customerLedgerDetailData?.rdimport }}
                            </span>
                            <span *ngIf="!customerLedgerDetailData?.rdimport">-</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Bngrouter Interface :</label>
                            <span *ngIf="customerLedgerDetailData?.bngrouterinterface">
                              {{ customerLedgerDetailData?.bngrouterinterface }}
                            </span>
                            <span *ngIf="!customerLedgerDetailData?.bngrouterinterface">-</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">QOS :</label>
                            <span *ngIf="customerLedgerDetailData?.qos">
                              {{ customerLedgerDetailData?.qos }}
                            </span>
                            <span *ngIf="!customerLedgerDetailData?.qos">-</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Vlan Id :</label>
                            <span *ngIf="customerLedgerDetailData?.vlanid">
                              {{ customerLedgerDetailData?.vlanid }}
                            </span>
                            <span *ngIf="!customerLedgerDetailData?.vlanid">-</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">WanIp :</label>
                            <span *ngIf="customerLedgerDetailData?.wanip">
                              {{ customerLedgerDetailData?.wanip }}
                            </span>
                            <span *ngIf="!customerLedgerDetailData?.wanip">-</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">LanIp :</label>
                            <span *ngIf="customerLedgerDetailData?.lanip">
                              {{ customerLedgerDetailData?.lanip }}
                            </span>
                            <span *ngIf="!customerLedgerDetailData?.lanip">-</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">ASN Number :</label>
                            <span *ngIf="customerLedgerDetailData?.asnnumber">
                              {{ customerLedgerDetailData?.asnnumber }}
                            </span>
                            <span *ngIf="!customerLedgerDetailData?.asnnumber">-</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">LL account Id :</label>
                            <span *ngIf="customerLedgerDetailData?.llaccountid">
                              {{ customerLedgerDetailData?.llaccountid }}
                            </span>
                            <span *ngIf="!customerLedgerDetailData?.llaccountid">-</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">IP Prefixes :</label>
                            <span *ngIf="customerLedgerDetailData?.ipprefixes">
                              {{ customerLedgerDetailData?.ipprefixes }}
                            </span>
                            <span *ngIf="!customerLedgerDetailData?.ipprefixes">-</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Rdex Port :</label>
                            <span *ngIf="customerLedgerDetailData?.rdexport">
                              {{ customerLedgerDetailData?.rdexport }}
                            </span>
                            <span *ngIf="!customerLedgerDetailData?.rdexport">-</span>
                          </div>

                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">RD Value :</label>
                            <span *ngIf="customerLedgerDetailData?.rdvalue">
                              {{ customerLedgerDetailData?.rdvalue }}
                            </span>
                            <span *ngIf="!customerLedgerDetailData?.rdvalue">-</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">VRF Name :</label>
                            <span *ngIf="customerLedgerDetailData?.vrfname">
                              {{ customerLedgerDetailData?.vrfname }}
                            </span>
                            <span *ngIf="!customerLedgerDetailData?.vrfname">-</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Peer IP :</label>
                            <span *ngIf="customerLedgerDetailData?.peerip">
                              {{ customerLedgerDetailData?.peerip }}
                            </span>
                            <span *ngIf="!customerLedgerDetailData?.peerip">-</span>
                          </div>
                          <!-- <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">LanIp :</label>
                            <span *ngIf="customerLedgerDetailData?.lanip">
                              {{ customerLedgerDetailData?.lanip }}
                            </span>
                            <span *ngIf="!customerLedgerDetailData?.lanip">-</span>
                          </div> -->
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Framed Route :</label>
                            <span *ngIf="customerLedgerDetailData?.framedroute">
                              {{ customerLedgerDetailData?.framedroute }}
                            </span>
                            <span *ngIf="!customerLedgerDetailData?.framedroute">-</span>
                          </div>

                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Framed IP Netmask :</label>
                            <span
                              *ngIf="
                                customerLedgerDetailData?.framedIPNetmask &&
                                customerLedgerDetailData.framedIPNetmask.trim() !== ''
                              "
                            >
                              {{ customerLedgerDetailData?.framedIPNetmask }}
                            </span>
                            <span
                              *ngIf="
                                !customerLedgerDetailData?.framedIPNetmask ||
                                customerLedgerDetailData.framedIPNetmask.trim() === ''
                              "
                              >-</span
                            >
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Framed IPv6 Prefix :</label>
                            <span
                              *ngIf="
                                customerLedgerDetailData?.framedIPv6Prefix &&
                                customerLedgerDetailData.framedIPv6Prefix.trim() !== ''
                              "
                            >
                              {{ customerLedgerDetailData?.framedIPv6Prefix }}
                            </span>
                            <span
                              *ngIf="
                                !customerLedgerDetailData?.framedIPv6Prefix ||
                                customerLedgerDetailData.framedIPv6Prefix.trim() === ''
                              "
                              >-</span
                            >
                          </div>
                          <!-- <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Gateway IP :</label>
                            <span
                              *ngIf="
                                customerLedgerDetailData?.gatewayip &&
                                customerLedgerDetailData.gatewayip.trim() !== ''
                              "
                            >
                              {{ customerLedgerDetailData?.gatewayip }}
                            </span>
                            <span
                              *ngIf="
                                !customerLedgerDetailData?.gatewayip ||
                                customerLedgerDetailData.gatewayip.trim() === ''
                              "
                              >-</span
                            >
                          </div> -->
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Primary DNS :</label>
                            <span
                              *ngIf="
                                customerLedgerDetailData?.primaryDNS &&
                                customerLedgerDetailData.primaryDNS.trim() !== ''
                              "
                            >
                              {{ customerLedgerDetailData?.primaryDNS }}
                            </span>
                            <span
                              *ngIf="
                                !customerLedgerDetailData?.primaryDNS ||
                                customerLedgerDetailData.primaryDNS.trim() === ''
                              "
                              >-</span
                            >
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Primary IPv6 DNS :</label>
                            <span
                              *ngIf="
                                customerLedgerDetailData?.primaryIPv6DNS &&
                                customerLedgerDetailData.primaryIPv6DNS.trim() !== ''
                              "
                            >
                              {{ customerLedgerDetailData?.primaryIPv6DNS }}
                            </span>
                            <span
                              *ngIf="
                                !customerLedgerDetailData?.primaryIPv6DNS ||
                                customerLedgerDetailData.primaryIPv6DNS.trim() === ''
                              "
                              >-</span
                            >
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Secondary DNS :</label>
                            <span
                              *ngIf="
                                customerLedgerDetailData?.secondaryDNS &&
                                customerLedgerDetailData.secondaryDNS.trim() !== ''
                              "
                            >
                              {{ customerLedgerDetailData?.secondaryDNS }}
                            </span>
                            <span
                              *ngIf="
                                !customerLedgerDetailData?.secondaryDNS ||
                                customerLedgerDetailData.secondaryDNS.trim() === ''
                              "
                              >-</span
                            >
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Secondary IPv6 DNS:</label>
                            <span
                              *ngIf="
                                customerLedgerDetailData?.secondaryIPv6DNS &&
                                customerLedgerDetailData.secondaryIPv6DNS.trim() !== ''
                              "
                            >
                              {{ customerLedgerDetailData?.secondaryIPv6DNS }}
                            </span>
                            <span
                              *ngIf="
                                !customerLedgerDetailData?.secondaryIPv6DNS ||
                                customerLedgerDetailData.secondaryIPv6DNS.trim() === ''
                              "
                              >-</span
                            >
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Delegated Prefix :</label>
                            <span
                              *ngIf="
                                customerLedgerDetailData?.delegatedprefix &&
                                customerLedgerDetailData.delegatedprefix.trim() !== ''
                              "
                            >
                              {{ customerLedgerDetailData?.delegatedprefix }}
                            </span>
                            <span
                              *ngIf="
                                !customerLedgerDetailData?.delegatedprefix ||
                                customerLedgerDetailData.delegatedprefix.trim() === ''
                              "
                              >-</span
                            >
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">NAS Port Id :</label>
                            <span
                              *ngIf="
                                customerLedgerDetailData?.nasPortId &&
                                customerLedgerDetailData.nasPortId.trim() !== ''
                              "
                            >
                              {{ customerLedgerDetailData?.nasPortId }}
                            </span>
                            <span
                              *ngIf="
                                !customerLedgerDetailData?.nasPortId ||
                                customerLedgerDetailData.nasPortId.trim() === ''
                              "
                              >-</span
                            >
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">IP Pool Name (Bind) :</label>
                            <span *ngIf="customerLedgerDetailData?.ipPoolNameBind != null">
                              {{ customerLedgerDetailData?.ipPoolNameBind }}
                            </span>
                            <span *ngIf="customerLedgerDetailData?.ipPoolNameBind == null">- </span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Mac Provision :</label>
                            <span *ngIf="customerLedgerDetailData?.mac_provision === true">
                              {{ customerLedgerDetailData?.mac_provision }}
                            </span>
                            <span *ngIf="customerLedgerDetailData?.mac_provision === false">
                              {{ customerLedgerDetailData?.mac_provision }}
                            </span>
                            <span *ngIf="!customerLedgerDetailData?.mac_provision">-</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
                            <label class="datalbl">Mac Auth :</label>
                            <span *ngIf="customerLedgerDetailData?.mac_auth_enable === true">
                              {{ customerLedgerDetailData?.mac_auth_enable }}
                            </span>
                            <span *ngIf="customerLedgerDetailData?.mac_auth_enable === false">
                              {{ customerLedgerDetailData?.mac_auth_enable }}
                            </span>
                            <span
                              *ngIf="
                                customerLedgerDetailData?.mac_auth_enable === '' ||
                                customerLedgerDetailData?.mac_auth_enable === undefined
                              "
                              >-</span
                            >
                          </div>
                        </div>
                      </p-card>
                    </div>
                  </div>
                </p-tabPanel>
              </p-tabView>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
