<div class="row">
  <div class="col-md-12">
    <div class="panel top">
      <div class="panel-heading">
        <h3 class="panel-title">Category Management</h3>
        <div class="right">
          <button
            type="button"
            class="btn-toggle-collapse"
            data-toggle="collapse"
            data-target="#searchDataTaskReasonsub"
          >
            <i class="fa fa-minus-circle"></i>
          </button>
        </div>
      </div>
      <div id="searchDataTaskReasonsub" class="panel-collapse collapse in">
        <div id="" class="panel-body">
          <div class="row">
            <div class="col-lg-3 col-md-3">
              <input
                id="taxName"
                type="text"
                [(ngModel)]="searchTrscName"
                class="form-control"
                placeholder=" Enter Category Name"
                (keydown.enter)="searchTrsc()"
              />
            </div>
            <!-- <div class="col-lg-3 col-md-3 marginTopSearchinput">
              <p-dropdown
                [options]="parentTRCData"
                ooptionValue="categoryName"
                optionLabel="categoryName"
                [filter]="true"
                filterBy="categoryName"
                placeholder="Select a Parent Category"
                [(ngModel)]="searchParentTrcName"
                (keydown.enter)="searchTrsc()"
              ></p-dropdown>
            </div> -->
            <div class="col-lg-3 col-md-4 marginTopSearchBtn">
              <button type="button" class="btn btn-primary" id="searchbtn" (click)="searchTrsc()">
                <i class="fa fa-search"></i>
                Search
              </button>
              <button
                type="reset"
                class="btn btn-default"
                id="searchbtn"
                (click)="clearSearchTrsc()"
              >
                <i class="fa fa-refresh"></i>
                Clear
              </button>
            </div>
          </div>
        </div>
        <div class="panel-body no-padding panel-udata">
          <div class="col-md-6 pcol">
            <div class="dbox">
              <a (click)="createTicketFun()" class="curson_pointer" *ngIf="createAccess">
                <img src="../../../assets/img/i01.png" style="width: 32px" />
                <h5>Create Category</h5>
              </a>
            </div>
          </div>
          <div class="col-md-6 pcol">
            <div class="dbox">
              <a (click)="searchTicketFun()" class="curson_pointer">
                <img src="../../../assets/img/i01.png" style="width: 32px" />
                <h5>Search Category</h5>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12" *ngIf="listTicket">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Category</h3>
        <div class="right">
          <button
            type="button"
            class="btn-toggle-collapse"
            data-toggle="collapse"
            data-target="#allDataTrsc"
            aria-expanded="false"
            aria-controls="allDataTrsc"
          >
            <i class="fa fa-minus-circle"></i>
          </button>
        </div>
      </div>
      <div id="allDataTrsc" class="panel-collapse collapse in">
        <div class="panel-body table-responsive">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <table class="table">
                <thead>
                  <tr>
                    <th style="width: 30%">Name</th>
                    <!-- <th style="width: 30%">Parent Category</th> -->
                    <th style="width: 20%">Status</th>
                    <th style="width: 20%" *ngIf="editAccess || deleteAccess">Action</th>
                  </tr>
                </thead>
                <tbody *ngIf="ticketReasonSubCategoryListData?.length > 0">
                  <tr
                    *ngFor="
                      let ticketReasonSubCat of ticketReasonSubCategoryListData
                        | paginate
                          : {
                              id: 'ticketReasonSubCategoryData',
                              itemsPerPage: ticketReasonSubCategoryListdataitemsPerPage,
                              currentPage: currentPageTicketReasonSubCategoryListdata,
                              totalItems: ticketReasonSubCategoryListDatatotalRecords
                            };
                      index as i
                    "
                  >
                    <td
                      class="curson_pointer"
                      style="color: #f7b206"
                      (click)="trscAllDetails(ticketReasonSubCat)"
                    >
                      {{ ticketReasonSubCat.categoryName }}
                    </td>
                    <!-- <td>
                        {{ ticketReasonSubCat.parentCategory.categoryName }}
                      </td> -->
                    <td *ngIf="ticketReasonSubCat.status == 'Active'">
                      <span class="badge badge-success">Active</span>
                    </td>
                    <td *ngIf="ticketReasonSubCat.status == 'Inactive'">
                      <span class="badge badge-danger">Inactive</span>
                    </td>
                    <td class="btnAction" *ngIf="editAccess || deleteAccess">
                      <a
                        *ngIf="editAccess"
                        id="edit-button"
                        type="button"
                        href="javascript:void(0)"
                        (click)="editTicketReasonSubCategory(ticketReasonSubCat.categoryId)"
                        title="Edit"
                      >
                        <img src="assets/img/ioc01.jpg" />
                      </a>
                      <a
                        *ngIf="deleteAccess"
                        id="delete-button"
                        href="javascript:void(0)"
                        (click)="deleteConfirmonTicketReasonSubCat(ticketReasonSubCat)"
                        title="Delete"
                      >
                        <img src="assets/img/ioc02.jpg" />
                      </a>
                    </td>
                  </tr>
                </tbody>
                <tr *ngIf="ticketReasonSubCategoryListData?.length === 0">
                  <td colspan="5">No Record Found.</td>
                </tr>
              </table>

              <div class="row" *ngIf="ticketReasonSubCategoryListData?.length > 0">
                <div class="col-md-12" style="display: flex">
                  <pagination-controls
                    id="ticketReasonSubCategoryData"
                    [maxSize]="10"
                    [directionLinks]="true"
                    previousLabel=""
                    nextLabel=""
                    (pageChange)="pageChangedTrscList($event)"
                  ></pagination-controls>
                  <div id="itemPerPageDropdown">
                    <p-dropdown
                      [(ngModel)]="pageItem"
                      [options]="pageLimitOptions"
                      optionLabel="value"
                      optionValue="value"
                      (onChange)="TotalItemPerPage($event)"
                    ></p-dropdown>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12" *ngIf="createTicket">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{ isTicketReasonSubCategoryEdit ? "Update" : "Create" }} Category
        </h3>
        <div class="right">
          <button
            type="button"
            class="btn-toggle-collapse"
            data-toggle="collapse"
            data-target="#createDataTrsc"
            aria-expanded="false"
            aria-controls="createDataTrsc"
          >
            <i class="fa fa-minus-circle"></i>
          </button>
        </div>
      </div>
      <div id="createDataTrsc" class="panel-collapse collapse in">
        <div class="panel-body">
          <form [formGroup]="ticketReasonSubCatFormGroup">
            <!-- Basic Details -->
            <fieldset style="margin-top: 1.5rem">
              <legend>Basic Details</legend>
              <div class="boxWhite">
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-4">
                    <label>Category Name*</label>
                    <input
                      id="name"
                      type="text"
                      class="form-control"
                      placeholder="Enter Category Name"
                      formControlName="categoryName"
                      [ngClass]="{
                        'is-invalid':
                          submitted && ticketReasonSubCatFormGroup.controls.categoryName.errors
                      }"
                    />
                    <div
                      class="errorWrap text-danger"
                      *ngIf="submitted && ticketReasonSubCatFormGroup.controls.categoryName.errors"
                    >
                      <div
                        class="error text-danger"
                        *ngIf="
                          submitted &&
                          ticketReasonSubCatFormGroup.controls.categoryName.errors.required
                        "
                      >
                        Name is required.
                      </div>
                    </div>
                    <br />
                  </div>
                  <!-- <div class="col-lg-4 col-md-4 col-sm-4">
                    <label>Parent Category *</label>
                    <p-multiSelect
                      [options]="parentTRCData"
                      optionValue="id"
                      optionLabel="categoryName"
                      [filter]="true"
                      filterBy="categoryName"
                      placeholder="Select a Parent Category"
                      formControlName="parentCategory"
                      [ngClass]="{
                        'is-invalid':
                          submitted && ticketReasonSubCatFormGroup.controls.parentCategory.errors
                      }"
                      (onChange)="onParentChange($event)"
                    ></p-multiSelect>
                    <div></div>
                    <div
                      class="errorWrap text-danger"
                      *ngIf="
                        submitted && ticketReasonSubCatFormGroup.controls.parentCategory.errors
                      "
                    >
                      <div
                        class="error text-danger"
                        *ngIf="
                          submitted &&
                          ticketReasonSubCatFormGroup.controls.parentCategory.errors.required
                        "
                      >
                        Parent Category is required.
                      </div>
                    </div>
                    <br />
                  </div> -->
                  <div class="col-lg-4 col-md-4 col-sm-4">
                    <label>Status*</label>
                    <div>
                      <p-dropdown
                        [options]="statusOptions"
                        optionValue="label"
                        optionLabel="label"
                        placeholder="Select a Status"
                        formControlName="status"
                        [ngClass]="{
                          'is-invalid':
                            submitted && ticketReasonSubCatFormGroup.controls.status.errors
                        }"
                      ></p-dropdown>
                    </div>
                    <div
                      class="errorWrap text-danger"
                      *ngIf="submitted && ticketReasonSubCatFormGroup.controls.status.errors"
                    >
                      <div
                        class="error text-danger"
                        *ngIf="
                          submitted && ticketReasonSubCatFormGroup.controls.status.errors.required
                        "
                      >
                        Status is required.
                      </div>
                    </div>
                    <br />
                  </div>
                </div>
                <!-- <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group form-check inputcheckboxCenter">
                      <input
                        class="inputcheckbox"
                        formControlName="isDefaultCaseCategory"
                        id="isDefaultCaseCategory"
                        type="checkbox"
                      />
                      <label
                        class="form-check-label"
                        for="acceptTerms"
                        style="margin-left: 1rem; margin-bottom: 0"
                        >Default Category
                      </label>
                    </div>
                    <br />
                  </div>
                </div> -->
              </div>
            </fieldset>

            <!-- <fieldset style="margin-top: 1.5rem">
              <legend>Reason</legend>
              <div class="boxWhite">
                <div [formGroup]="ticketReasonMapingForm">
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-8">
                      <input
                        class="form-control"
                        type="text"
                        placeholder="Enter Reason "
                        formControlName="reason"
                        [ngClass]="{
                          'is-invalid':
                            ticketReasonMapingSubmitted &&
                            ticketReasonMapingForm.controls.reason.errors
                        }"
                      />
                      <div
                        class="errorWrap text-danger"
                        *ngIf="
                          ticketReasonMapingSubmitted &&
                          ticketReasonMapingForm.controls.reason.errors
                        "
                      >
                        <div class="error text-danger">Reason is required.</div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-4">
                      <button
                        id="addAtt"
                        style="object-fit: cover; padding: 5px 8px"
                        class="btn btn-primary"
                        (click)="onAddReasonMappingField()"
                      >
                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                        Add
                      </button>
                    </div>
                  </div>
                </div>
                <table class="table coa-table" style="margin-top: 10px">
                  <thead>
                    <tr>
                      <th style="text-align: center">Reason*</th>
                      <th style="text-align: right; width: 20%; padding: 8px">Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="
                        let row of ticketReasonMaping.controls
                          | paginate
                            : {
                                id: 'reasonMappingData',
                                itemsPerPage: reasonMappingitemsPerPage,
                                currentPage: currentPageReasonMapping,
                                totalItems: reasonMappingtotalRecords
                              };
                        let index = index
                      "
                    >
                      <td style="padding-left: 5px">
                        <input
                          class="form-control"
                          type="text"
                          [formControl]="row.get('reason')"
                          [disabled]="true"
                        />
                      </td>
                      <td style="text-align: right">
                        <a
                          id="deleteAtt"
                          class="curson_pointer"
                          (click)="
                            deleteConfirmonReasonMappingField(
                              index,
                              row.get('ticketReasonSubCategoryId').value
                            )
                          "
                        >
                          <img src="assets/img/ioc02.jpg" />
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="row">
                  <div class="col-md-12">
                    <pagination-controls
                      id="reasonMappingData"
                      [maxSize]="10"
                      [directionLinks]="true"
                      previousLabel=""
                      nextLabel=""
                      (pageChange)="pageChangedReasonMappingData($event)"
                    ></pagination-controls>
                  </div>
                </div>
              </div>
            </fieldset> -->
          </form>
          <fieldset style="margin-top: 1.5rem; margin-bottom: 2rem">
            <legend>TAT Mapping List</legend>
            <div class="boxWhite">
              <div class="row justify-content-between" style="margin-top: 20px">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                  <p-dropdown
                    [options]="this.TATForTicketData"
                    optionValue="id"
                    optionLabel="name"
                    filter="true"
                    filterBy="name"
                    placeholder="Select a TAT For Task"
                    [(ngModel)]="tatForTicketID"
                    [showClear]="false"
                    id="team"
                    [disabled]="TatMappingArray?.value?.length >= 1"
                  ></p-dropdown>
                </div>
                <!-- <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                  <button
                    (click)="openConditionModel()"
                    title="Add a Condition"
                    style="width: 100%; border: none; background: none"
                  >
                    <input
                      type="text"
                      [(ngModel)]="teamcondition"
                      class="form-control"
                      placeholder="Add a condition"
                      style="width: 100%; width: 100%; cursor: pointer"
                      readonly
                    />
                  </button>
                </div> -->
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" style="text-align: end">
                  <button
                    style="object-fit: cover; padding: 5px 8px"
                    class="btn btn-primary"
                    (click)="onAddAttribute()"
                    [disabled]="TatMappingArray?.value?.length >= 1"
                  >
                    <i class="fa fa-plus-square" aria-hidden="true"></i>
                    Add
                  </button>
                </div>
              </div>
              <div class="gridtable">
                <table class="table coa-table fixed_header" style="margin-top: 3rem">
                  <thead class="BI_tablehead">
                    <tr>
                      <th style="width: 15%">Order</th>
                      <th>TAT For Task</th>
                      <!-- <th style="width: 35%">Condition</th> -->
                      <th>Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let row of TatMappingArray.controls; let index = index">
                      <td style="width: 15%">
                        <input
                          id="name"
                          type="text"
                          class="form-control text-center"
                          placeholder="Order"
                          [formControl]="row.get('orderid')"
                          readonly
                        />
                      </td>
                      <td>
                        <p-dropdown
                          appendTo="body"
                          [options]="TATForTicketData"
                          optionValue="id"
                          optionLabel="name"
                          filter="true"
                          filterBy="name"
                          placeholder="Select a TAT Matrics"
                          [formControl]="row.get('tatForTicketID')"
                        ></p-dropdown>
                      </td>
                      <!-- <td style="width: 35%">
                        <button
                          (click)="defultAddTeamCondition(index, row.value.id)"
                          title="Add a Condition"
                          data-target="#teamConditionModal"
                          data-toggle="modal"
                          data-backdrop="static"
                          data-keyboard="false"
                          style="width: 100%; border: none; background: none"
                        >
                          <input
                            type="text"
                            [formControl]="row.get('teamcondition')"
                            class="form-control"
                            placeholder="Add a condition"
                            style="width: 100%; width: 100%; cursor: pointer"
                            readonly
                          />
                        </button>
                      </td> -->
                      <td style="text-align: center">
                        <a
                          *ngIf="TatMappingArray.controls.length > 0"
                          id="deleteAtt"
                          href="javascript:void(0)"
                          (click)="deleteConfirmAttribute(index, row.value)"
                        >
                          <img src="assets/img/ioc02.jpg" />
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </fieldset>

          <div class="addUpdateBtn" style="margin: 3rem">
            <button
              type="submit"
              class="btn btn-primary"
              id="submit"
              (click)="addEditTicketReasonSubCat('')"
              *ngIf="!isTicketReasonSubCategoryEdit"
            >
              <i class="fa fa-check-circle"></i>
              Add Category
            </button>
            <button
              type="submit"
              class="btn btn-primary"
              id="submit"
              (click)="addEditTicketReasonSubCat(editTicketReasonSubCategoryData.categoryId)"
              *ngIf="isTicketReasonSubCategoryEdit"
            >
              <i class="fa fa-check-circle"></i>
              Update Category
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p-dialog
  header="Category"
  [(visible)]="ticketReasonSubCatdialoge"
  [modal]="true"
  [style]="{ width: '80%' }"
  [responsive]="true"
  [draggable]="false"
  [closable]="true"
  (onHide)="closeSubProblemDomainDetailsModel()"
>
  <!-- <div class="modal fade" id="ticketReasonSubCatModal" role="dialog">
  <div class="modal-dialog" style="width: 50%">
    <div class="modal-content">
      <div class="modal-header"> -->
  <!-- <h3 class="panel-title">Category</h3>
      </div> -->
  <div class="modal-body">
    <fieldset style="margin-top: 0rem; margin-bottom: 2rem">
      <legend>Basic Details</legend>
      <div class="boxWhite">
        <div class="row">
          <div class="col-lg-4 col-md-4 dataGroup">
            <label class="datalbl">Name :</label>
            <span>{{ viewTrscData.categoryName }}</span>
          </div>
          <!-- <div class="col-lg-4 col-md-4 dataGroup">
                <label class="datalbl">Service :</label>
                <span>{{ viewTrscData.parentCategory.categoryName }}</span>
              </div> -->
          <div class="col-lg-4 col-md-4 dataGroup">
            <label class="datalbl">Status :</label>
            <span *ngIf="viewTrscData.status == 'Active'" class="badge badge-success">
              Active
            </span>
            <span *ngIf="viewTrscData.status == 'Inactive'" class="badge badge-danger">
              Inactive
            </span>
          </div>
        </div>
      </div>
    </fieldset>
    <!-- <fieldset *ngIf="viewTrscData.ticketSubCategoryGroupReasonMappingList.length !== 0">
      <legend>Reason Detail</legend>
      <div class="boxWhite">
        <div class="row table-responsive">
          <div class="col-lg-12 col-md-12">
            <table class="table">
              <thead>
                <tr>
                  <th>Reason</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let reasonData of viewTrscData.ticketSubCategoryGroupReasonMappingList
                      | paginate
                        : {
                            id: 'reasonPageData',
                            itemsPerPage: viewReasonListdataitemsPerPage,
                            currentPage: currentPageViewReasonListdata,
                            totalItems: viewReasonListDatatotalRecords
                          };
                    index as i
                  "
                >
                  <td>{{ reasonData.reason }}</td>
                </tr>
              </tbody>
            </table>
            <pagination-controls
              id="reasonPageData"
              [maxSize]="10"
              [directionLinks]="true"
              previousLabel=""
              nextLabel=""
              (pageChange)="pageChangedViewReasonData($event)"
            ></pagination-controls>
          </div>
        </div>
      </div>
    </fieldset> -->

    <fieldset *ngIf="viewTrscData.caseCategoryTatMappingList.length !== 0">
      <legend>TAT Mapping Detail</legend>
      <div class="boxWhite">
        <div class="row table-responsive">
          <div class="col-lg-12 col-md-12">
            <table class="table">
              <thead>
                <tr>
                  <th>Order</th>
                  <th>TAT For Task</th>
                  <!-- <th>Condition</th> -->
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let reasonData of viewTrscData.caseCategoryTatMappingList
                      | paginate
                        : {
                            id: 'reasonTATPageData',
                            itemsPerPage: viewTATListdataitemsPerPage,
                            currentPage: currentPageViewTATListdata,
                            totalItems: viewTATListDatatotalRecords
                          };
                    index as i
                  "
                >
                  <td>{{ reasonData.orderid }}</td>
                  <td>{{ reasonData.ticketTatMatrix.name }}</td>
                  <!-- <td>
                    <span *ngFor="let list of coditionArrayShow; index as j">
                      <span *ngIf="i === j">
                        {{ list }}
                      </span>
                    </span>
                  </td> -->
                </tr>
              </tbody>
            </table>
            <pagination-controls
              id="reasonTATPageData"
              [maxSize]="10"
              [directionLinks]="true"
              previousLabel=""
              nextLabel=""
              (pageChange)="changeTATPageData($event)"
            ></pagination-controls>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="modal-footer">
    <div class="addUpdateBtn">
      <button
        type="button"
        class="btn btn-danger btn-sm"
        (click)="closeSubProblemDomainDetailsModel()"
      >
        Close
      </button>
    </div>
  </div>
  <!-- </div>
  </div>
</div> -->
</p-dialog>
<p-dialog
  header="Team Condition"
  [(visible)]="ticketReasonSubCatModal"
  [modal]="true"
  [style]="{ width: '80%' }"
  [responsive]="true"
  [draggable]="false"
  [closable]="true"
  (onHide)="closeConditionModel()"
>
  <div class="modal-body" style="max-height: 300px; padding-bottom: 20px">
    <table class="table map-table">
      <thead>
        <tr>
          <th>Field</th>
          <th>Operator</th>
          <th>Value</th>
          <th>Condition</th>
          <th style="width: 10%">
            <button
              id="addAtt"
              style="object-fit: cover; padding: 5px 8px"
              class="btn btn-primary"
              (click)="onConditionAddAttribute()"
            >
              <i class="fa fa-plus-square" aria-hidden="true"></i>
              Add
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let row of teamConditionArray.controls
              | paginate
                : {
                    id: 'ArrayData',
                    itemsPerPage: ItemPerPageteamCondition,
                    currentPage: currentPageteamCondition,
                    totalItems: totalRecordsteamCondition
                  };
            let index = index
          "
        >
          <td>
            <p-dropdown
              [options]="FildDropdownData"
              optionValue="value"
              optionLabel="text"
              filter="true"
              filterBy="text"
              placeholder="Enter a Field"
              [formControl]="row.get('field')"
            ></p-dropdown>
          </td>
          <td>
            <p-dropdown
              [options]="operatorList"
              placeholder="Select Operator"
              optionLabel="label"
              optionValue="value"
              [formControl]="row.get('operator')"
              filter="true"
              filterBy="label"
            ></p-dropdown>
          </td>
          <td>
            <input
              type="text"
              name="speed"
              class="form-control"
              placeholder="Enter a Value"
              [formControl]="row.get('value')"
            />
          </td>
          <td>
            <span *ngFor="let list of conditionDataEnableDisble; index as j">
              <span *ngIf="index == j">
                <p-dropdown
                  [options]="AndOrDropdown"
                  *ngIf="index == j"
                  placeholder="Select a Condition"
                  optionLabel="label"
                  optionValue="value"
                  [formControl]="row.get('condition')"
                  filter="true"
                  filterBy="label"
                  (onChange)="onkeyCondition($event)"
                ></p-dropdown>
              </span>
            </span>
          </td>
          <td style="width: 10%">
            <a
              id="deleteAtt"
              *ngIf="this.teamConditionArray.length > 1"
              class="curson_pointer"
              (click)="deleteTeamCondition(index, row.value)"
            >
              <img src="assets/img/ioc02.jpg" />
            </a>
          </td>
        </tr>
        <tr>
          <div
            style="margin-left: 5px"
            class="errorWrap text-danger"
            *ngIf="!this.teamConditionArray.valid"
          >
            Please Enter Details.
          </div>
          <div
            style="margin-left: 5px"
            class="errorWrap text-danger"
            *ngIf="this.teamConditionArray.valid && errormsgCondition"
          >
            {{ this.errormsgCondition }}
          </div>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="col-md-12">
        <pagination-controls
          id="ArrayData"
          [maxSize]="5"
          [directionLinks]="true"
          previousLabel=""
          nextLabel=""
          (pageChange)="pageChangedTeamMappingList($event)"
        ></pagination-controls>
      </div>
    </div>
    <br />
  </div>
  <div class="modal-footer" style="display: flex; justify-content: flex-end">
    <div class="addUpdateBtn">
      <button
        type="button"
        class="btn btn-primary"
        data-title="Apply Condition"
        (click)="saveConditionData()"
        #closebutton
        data-dismiss="modal"
        [disabled]="!this.teamConditionArray.valid"
      >
        Save
      </button>
    </div>
    <div class="addUpdateBtn" style="margin-left: 1.5rem">
      <button
        type="button"
        class="btn btn-danger btn-sm"
        #closebutton
        data-dismiss="modal"
        (click)="closeConditionModel()"
      >
        Close
      </button>
    </div>
  </div>
</p-dialog>
<!-- <div
  class="modal fade"
  id="teamConditionModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
>
  <div class="modal-dialog" style="width: 75%">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="panel-title">Team Condition</h3>
      </div>
     
    </div>
  </div>
</div> -->
