<div class="row">
  <div class="col-md-12">
    <div class="panel mb-15">
      <div class="panel-heading">
        <div class="displayflex">
          <button
            type="button"
            class="btn btn-secondary backbtn"
            data-toggle="tooltip"
            data-placement="bottom"
            title="Go to Customer List"
            (click)="listCustomer()"
          >
            <i
              class="fa fa-arrow-circle-left"
              style="color: #f7b206 !important; font-size: 28px"
            ></i>
          </button>
          <h3 class="panel-title">
            {{ customerLedgerDetailData?.title }}
            {{ customerLedgerDetailData?.custname }} Plan Details
          </h3>
        </div>
      </div>
    </div>
    <!-- Trial Plan -->
    <!-- <div class="panel">
      <div class="panel-heading">
        <div class="displayflex">
          <h3 class="panel-title">
            {{ customerLedgerDetailData?.title }}
            {{ customerLedgerDetailData?.firstname }}
            {{ customerLedgerDetailData?.lastname }} Trial Plan
          </h3>
        </div>
        <div class="right">
          <button class="btn refreshbtn" type="reset" (click)="getTrailPlanList(customerId, '')">
            <i class="fa fa-refresh"></i>
          </button>
          <button
            aria-controls="trailPresCustPlan"
            aria-expanded="false"
            class="btn-toggle-collapse"
            data-target="#trailPresCustPlan"
            data-toggle="collapse"
            type="button"
          >
            <i class="fa fa-minus-circle"></i>
          </button>
        </div>
      </div>
      <div class="panel-collapse collapse in" id="trailPresCustPlan">
        <div class="panel-body table-responsive">
          <div class="row">
            <div class="col-lg-12 col-md-12 card">
              <table class="table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Plan Group</th>
                    <th>Validity</th>
                    <th>Start Date</th>
                    <th>Expiry Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let plan of TrailPlanList
                        | paginate
                          : {
                              id: 'custTrailPlanListData',
                              itemsPerPage: custTrailPlanItemPerPage,
                              currentPage: currentTrailPlanListdata,
                              totalItems: custTrailPlantotalRecords
                            };
                      index as i
                    "
                  >
                    <td>{{ plan.planName }}</td>
                    <td>{{ plan.planGroupName }}</td>
                    <td>{{ plan.validity }}</td>
                    <td>
                      {{ plan.dbStartDate | date: "yyyy-MM-dd hh:mm a" }}
                    </td>
                    <td>
                      {{ plan.dbExpiryDate | date: "yyyy-MM-dd hh:mm a" }}
                    </td>
                    <td class="btnAction">
                                      <button
                                        [disabled]="plan.custPlanStatus == 'STOP'"
                                        (click)="extanTrailPlanModel(plan, 'extend')"
                                        class="approve-btn"
                                        style="
                                          border: none;
                                          background: #f7b206;
                                          padding: 3.5px 7px;
                                          margin: 3px 3px 0 0;
                                        "
                                        title="Extend Trail"
                                        type="button"
                                        *ngIf="
                                          customerLedgerDetailData?.status !== 'Terminate' &&
                                          extendTrailPlanAccess
                                        "
                                      >
                                        <i
                                          class="fa fa-expand"
                                          style="color: white; font-size: 14px"
                                        ></i>
                                      </button>

                                      <button
                                        [disabled]="plan.custPlanStatus == 'STOP'"
                                        (click)="subscribeTrailPlanModel(plan)"
                                        class="approve-btn"
                                        style="
                                          border: none;
                                          background: #f7b206;
                                          padding: 3.5px 7px;
                                          margin: 3px 3px 0 0;
                                        "
                                        title="Subscribe Plan"
                                        type="button"
                                        *ngIf="
                                          customerLedgerDetailData?.status !== 'Terminate' &&
                                          subscribePlanAccess
                                        "
                                      >
                                        <i
                                          class="fa fa-bell"
                                          style="color: white; font-size: 14px"
                                        ></i>
                                      </button>

                                      <button
                                        (click)="cancelConfirmonTrialmode(plan)"
                                        class="approve-btn"
                                        style="border: none"
                                        title="Cancel Trail"
                                        type="button"
                                        [disabled]="plan.custPlanStatus == 'STOP'"
                                        *ngIf="
                                          customerLedgerDetailData?.status !== 'Terminate' &&
                                          deleteTrailPlanAccess
                                        "
                                      >
                                        <img src="assets/img/ioc02.jpg" />
                                      </button>
                                    </td> 
                  </tr>
                </tbody>
              </table>
              <div class="pagination_Dropdown">
                <pagination-controls
                  (pageChange)="pageCustTrailPlanListData($event)"
                  directionLinks="true"
                  id="custTrailPlanListData"
                  maxSize="10"
                  nextLabel=""
                  previousLabel=""
                ></pagination-controls>
                <div id="itemPerPageDropdown">
                  <p-dropdown
                    (onChange)="TotalTrailPlanItemPerPage($event)"
                    [options]="pageLimitOptions"
                    optionLabel="value"
                    optionValue="value"
                  ></p-dropdown>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- Current Plan -->
    <div class="panel">
      <div class="panel-heading">
        <div class="displayflex">
          <h3 class="panel-title">
            {{ customerLedgerDetailData?.title }}
            {{ customerLedgerDetailData?.firstname }}
            {{ customerLedgerDetailData?.lastname }} Current Plan
          </h3>
        </div>
        <div class="right">
          <button class="btn refreshbtn" type="reset" (click)="getcustCurrentPlan(customerId, '')">
            <i class="fa fa-refresh"></i>
          </button>
          <button
            aria-controls="currenPresCustPlan"
            aria-expanded="false"
            class="btn-toggle-collapse"
            data-target="#currenPresCustPlan"
            data-toggle="collapse"
            type="button"
          >
            <i class="fa fa-minus-circle"></i>
          </button>
        </div>
      </div>

      <div class="panel-collapse collapse in" id="currenPresCustPlan">
        <div class="panel-body table-responsive">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <table class="table">
                <thead>
                  <tr>
                    <th width="10%">Service Name</th>
                    <!-- <th width="10%">Serial No</th> -->
                    <th width="10%">Plan Name</th>
                    <!-- <th width="10%">Plan Group</th> -->
                    <th width="6%">Validity</th>
                    <th width="10%">Plan Status</th>
                    <th width="10%">Start Date</th>
                    <th width="10%">Service Expiry Date</th>
                    <th width="10%">Remaining Days</th>
                    <!-- <th width="10%">Action</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let plan of custCurrentPlanList
                        | paginate
                          : {
                              id: 'custCurrentPlanListData',
                              itemsPerPage: customerCurrentPlanListdataitemsPerPage,
                              currentPage: currentPagecustomerCurrentPlanListdata,
                              totalItems: customerCurrentPlanListdatatotalRecords
                            };
                      index as i
                    "
                  >
                    <td>{{ plan.service }}</td>
                    <!-- <td>
                      <span
                        class="curson_pointer"
                        style="color: #f7b206"
                        (click)="openPlanConnectionModal(plan)"
                      >
                        {{ getSerialNumber(plan) !== "" ? getSerialNumber(plan) : "NA" }}
                      </span>
                    </td> -->
                    <td
                      class="curson_pointer"
                      style="color: #f7b206"
                      (click)="getCustQuotaList(this.customerLedgerDetailData.id, plan)"
                    >
                      {{ plan.planName }}
                    </td>
                    <!-- <td>{{ plan.planGroupName }}</td> -->
                    <td>
                      <div *ngIf="custType === 'Prepaid'">
                        <span> {{ plan.validity }} </span>
                      </div>
                      <div *ngIf="custType !== 'Prepaid'">
                        <span> N/A </span>
                      </div>
                    </td>
                    <td>
                      <span *ngIf="checkStatus(plan.custPlanStatus, plan.custServMappingStatus)">
                        <span
                          [ngClass]="
                            badgeTypeForStatus == 'green'
                              ? 'badge badge-success'
                              : badgeTypeForStatus == 'grey'
                                ? 'badge badge-primary'
                                : 'badge badge-danger'
                          "
                          >{{ displayStatus }}</span
                        >
                      </span>
                    </td>
                    <td>
                      {{ plan.startDate | date: "yyyy-MM-dd hh:mm a" }}
                    </td>
                    <td>
                      <div *ngIf="custType === 'Prepaid'">
                        <span>
                          {{ plan.endDate | date: "yyyy-MM-dd hh:mm a" }}
                        </span>
                      </div>
                      <div *ngIf="custType !== 'Prepaid'">
                        <span> N/A </span>
                      </div>
                    </td>
                    <td>
                      <div *ngIf="custType === 'Prepaid'">
                        <span> {{ this.findDuration(plan.endDate) }}</span>
                      </div>
                      <div *ngIf="custType !== 'Prepaid'">
                        <span> N/A </span>
                      </div>
                    </td>
                    <!-- <td>
                      <button
                        class="approve-btn"
                        style="border: none; background: transparent; padding: 0; margin-right: 3px"
                        title="Quota Reset"
                        (click)="resetQuotaConfirm(this.customerLedgerDetailData.id, plan)"
                      >
                        <img width="32" height="32" src="assets/img/refresh.png" />
                      </button>
                    </td>-->
                  </tr>
                </tbody>
              </table>
              <div class="pagination_Dropdown">
                <pagination-controls
                  (pageChange)="pageChangedcustomerCurrentPlanListData($event)"
                  directionLinks="true"
                  id="custCurrentPlanListData"
                  maxSize="10"
                  nextLabel=""
                  previousLabel=""
                ></pagination-controls>
                <div id="itemPerPageDropdown">
                  <p-dropdown
                    (onChange)="TotalCurrentPlanItemPerPage($event)"
                    [options]="pageLimitOptions"
                    optionLabel="value"
                    optionValue="value"
                  ></p-dropdown>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Future Plan -->
    <div class="panel">
      <div class="panel-heading">
        <div class="displayflex">
          <h3 class="panel-title">
            {{ customerLedgerDetailData?.title }}
            {{ customerLedgerDetailData?.firstname }}
            {{ customerLedgerDetailData?.lastname }} Future Plan
          </h3>
        </div>
        <div class="right">
          <button
            class="btn refreshbtn"
            type="reset"
            (click)="getcustFuturePlan(customerLedgerDetailData.id, '')"
          >
            <i class="fa fa-refresh"></i>
          </button>
          <button
            aria-controls="futurePlanCust"
            aria-expanded="false"
            class="btn-toggle-collapse"
            data-target="#futurePlanCust"
            data-toggle="collapse"
            type="button"
          >
            <i class="fa fa-minus-circle"></i>
          </button>
        </div>
      </div>

      <div class="panel-collapse collapse in" id="futurePlanCust">
        <div class="panel-body table-responsive">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <table class="table">
                <thead>
                  <tr>
                    <th width="12%">Service Name</th>
                    <!-- <th width="10%">Serial No</th> -->
                    <th width="15%">Plan Name</th>
                    <!-- <th width="10%">Plan Group</th> -->
                    <th width="10%">Validity</th>
                    <th width="15%">Plan Status</th>
                    <th width="15%">Start Date</th>
                    <th width="15%">Service Expiry Date</th>
                    <th width="15%">Billing End Date</th>
                    <!-- <th width="10%">Remaining Days</th>
                    <th width="8%">Promise To Pay Taken</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let plan of custFuturePlanList
                        | paginate
                          : {
                              id: 'custFuturePlanListData',
                              itemsPerPage: customerFuturePlanListdataitemsPerPage,
                              currentPage: currentPagecustomerFuturePlanListdata,
                              totalItems: customerFuturePlanListdatatotalRecords
                            };
                      index as i
                    "
                  >
                    <td>{{ plan.service }}</td>
                    <!-- <td>
                      <span
                        class="curson_pointer"
                        style="color: #f7b206"
                        (click)="openPlanConnectionModal(plan)"
                      >
                        {{ getSerialNumber(plan) !== "" ? getSerialNumber(plan) : "NA" }}
                      </span>
                    </td> -->
                    <td
                      class="curson_pointer"
                      style="color: #f7b206"
                      (click)="getCustQuotaList(this.customerLedgerDetailData.id, plan)"
                    >
                      {{ plan.planName }}
                    </td>

                    <!-- <td>{{ plan.planGroupName }}</td> -->
                    <td>
                      <div *ngIf="custType === 'Prepaid'">
                        <span> {{ plan.validity }} </span>
                      </div>
                      <div *ngIf="custType !== 'Prepaid'">
                        <span> N/A </span>
                      </div>
                    </td>
                    <td>
                      <span *ngIf="checkStatus(plan.custPlanStatus, plan.custServMappingStatus)">
                        <span
                          [ngClass]="
                            badgeTypeForStatus == 'green'
                              ? 'badge badge-success'
                              : badgeTypeForStatus == 'grey'
                                ? 'badge badge-primary'
                                : 'badge badge-danger'
                          "
                          >{{ displayStatus }}</span
                        >
                      </span>
                    </td>
                    <td>
                      {{ plan.dbStartDate | date: "yyyy-MM-dd hh:mm a" }}
                    </td>
                    <td>
                      <div *ngIf="custType === 'Prepaid'">
                        <span>
                          {{ plan.dbEndDate | date: "yyyy-MM-dd hh:mm a" }}
                        </span>
                      </div>
                      <div *ngIf="custType !== 'Prepaid'">
                        <span> N/A </span>
                      </div>
                    </td>
                    <td>
                      <div *ngIf="custType === 'Prepaid'">
                        <span>
                          {{ plan.dbExpiryDate | date: "yyyy-MM-dd hh:mm a" }}
                        </span>
                      </div>
                      <div *ngIf="custType !== 'Prepaid'">
                        <span> N/A </span>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="pagination_Dropdown">
                <pagination-controls
                  (pageChange)="pageChangedcustFuturePlanListData($event)"
                  [directionLinks]="true"
                  [maxSize]="10"
                  id="custFuturePlanListData"
                  nextLabel=""
                  previousLabel=""
                ></pagination-controls>
                <div id="itemPerPageDropdown">
                  <p-dropdown
                    (onChange)="TotalFuturePlanItemPerPage($event)"
                    [options]="pageLimitOptions"
                    optionLabel="value"
                    optionValue="value"
                  ></p-dropdown>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Expired Plan -->
    <div class="panel">
      <div class="panel-heading">
        <div class="displayflex">
          <h3 class="panel-title">
            {{ customerLedgerDetailData?.title }}
            {{ customerLedgerDetailData?.firstname }}
            {{ customerLedgerDetailData?.lastname }} Expired Plan
          </h3>
        </div>
        <div class="right">
          <button class="btn refreshbtn" type="reset" (click)="getcustExpiredPlan(customerId, '')">
            <i class="fa fa-refresh"></i>
          </button>
          <button
            aria-controls="ExpirePlanCust"
            aria-expanded="false"
            class="btn-toggle-collapse"
            data-target="#ExpirePlanCust"
            data-toggle="collapse"
            type="button"
          >
            <i class="fa fa-minus-circle"></i>
          </button>
        </div>
      </div>

      <div class="panel-collapse collapse in" id="ExpirePlanCust">
        <div class="panel-body table-responsive">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <table class="table">
                <thead>
                  <tr>
                    <th width="12%">Service Name</th>
                    <!-- <th width="10%">Serial No</th> -->
                    <th width="15%">Plan Name</th>
                    <!-- <th width="10%">Plan Group</th> -->
                    <th width="10%">Validity</th>
                    <th width="15%">Plan Status</th>
                    <th width="15%">Start Date</th>
                    <th width="15%">Service Expiry Date</th>
                    <th width="15%">Billing End Date</th>
                    <!-- <th width="10%">Remaining Days</th>
                    <th width="8%">Promise To Pay Taken</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let plan of custExpiredPlanList
                        | paginate
                          : {
                              id: 'custExpiryPlanListData',
                              itemsPerPage: customerExpiryPlanListdataitemsPerPage,
                              currentPage: currentPagecustomerExpiryPlanListdata,
                              totalItems: customerExpiryPlanListdatatotalRecords
                            };
                      index as i
                    "
                  >
                    <!-- <td></td> -->
                    <td>{{ plan.service }}</td>
                    <!-- <td>
                      <span
                        class="curson_pointer"
                        style="color: #f7b206"
                        (click)="openPlanConnectionModal(plan)"
                      >
                        {{ getSerialNumber(plan) !== "" ? getSerialNumber(plan) : "NA" }}
                      </span>
                    </td> -->
                    <td
                      class="curson_pointer"
                      style="color: #f7b206"
                      (click)="getCustQuotaList(this.customerLedgerDetailData.id, plan)"
                    >
                      {{ plan.planName }}
                    </td>
                    <!--  -->
                    <!-- <td>{{ plan.planGroupName }}</td> -->
                    <td>
                      <div *ngIf="custType === 'Prepaid'">
                        <span> {{ plan.validity }} </span>
                      </div>
                      <div *ngIf="custType !== 'Prepaid'">
                        <span> N/A </span>
                      </div>
                    </td>
                    <td>
                      <span *ngIf="checkStatus(plan.custPlanStatus, plan.custServMappingStatus)">
                        <span
                          [ngClass]="
                            badgeTypeForStatus == 'green'
                              ? 'badge badge-success'
                              : badgeTypeForStatus == 'grey'
                                ? 'badge badge-primary'
                                : 'badge badge-danger'
                          "
                          >{{ displayStatus }}</span
                        >
                      </span>
                    </td>
                    <td>
                      {{ plan.dbStartDate | date: "yyyy-MM-dd hh:mm a" }}
                    </td>
                    <td>
                      <div *ngIf="custType === 'Prepaid'">
                        <span>
                          {{ plan.dbEndDate | date: "yyyy-MM-dd hh:mm a" }}
                        </span>
                      </div>
                      <div *ngIf="custType !== 'Prepaid'">
                        <span> N/A </span>
                      </div>
                    </td>
                    <td>
                      <div *ngIf="custType === 'Prepaid'">
                        <span>
                          {{ plan.dbExpiryDate | date: "yyyy-MM-dd hh:mm a" }}
                        </span>
                      </div>
                      <div *ngIf="custType !== 'Prepaid'">
                        <span> N/A </span>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="pagination_Dropdown">
                <pagination-controls
                  (pageChange)="pageChangedcustomerExpiryPlanListData($event)"
                  directionLinks="true"
                  id="custExpiryPlanListData"
                  maxSize="10"
                  nextLabel=""
                  previousLabel=""
                ></pagination-controls>
                <div id="itemPerPageDropdown">
                  <p-dropdown
                    (onChange)="TotalExpiredPlanItemPerPage($event)"
                    [options]="pageLimitOptions"
                    optionLabel="value"
                    optionValue="value"
                  ></p-dropdown>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog
  header="Quota Details"
  [(visible)]="visibleQuotaDetails"
  [modal]="true"
  [style]="{ width: '65%' }"
  [responsive]="true"
  [draggable]="false"
  [closable]="true"
  (onHide)="closeModel()"
>
  <div class="modal-body" id="visibleQuotaDetails">
    <fieldset style="margin-top: 0rem; margin-bottom: 2rem">
      <legend>Customer Quota Details</legend>
      <div class="boxWhite">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
            <label class="datalbl">Fup Appplied :</label>
            <span>-</span>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 dataGroup">
            <label class="datalbl">Fup Applied Date :</label>
            <span>-</span>
          </div>
        </div>
        <div class="row table-responsive">
          <div class="col-lg-12 col-md-12">
            <table class="table">
              <thead>
                <tr>
                  <th>Plan Name</th>
                  <th>Quota Type</th>
                  <th>Total Quota</th>
                  <th>Used Quota</th>
                  <th>Current Session Volume Quota</th>
                  <th>Quota Unit</th>
                  <th>Time Total Quota</th>
                  <th>Time Quota Used</th>
                  <th>Time Quota Unit</th>
                  <th>Current Session Time Quota</th>
                  <th>Parent Quota Type</th>
                  <th>Quota Usage Type</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let quota of custQuotaList
                      | paginate
                        : {
                            id: 'custQuotapageData',
                            itemsPerPage: custQuotaListItemPerPage,
                            currentPage: currentPagecustQuotaList,
                            totalItems: custQuotaListtotalRecords
                          };
                    index as i
                  "
                >
                  <td>{{ quota.planName }}</td>
                  <td>{{ quota.quotaType }}</td>
                  <td>{{ quota.totalQuota }}</td>
                  <td>{{ quota.usedQuota }}</td>
                  <td>{{ quota.currentSessionUsageVolume | number:'1.10-10'}}</td>
                  <td>{{ quota.quotaUnit }}</td>
                  <td>{{ quota.timeTotalQuota }}</td>
                  <td>{{ quota.timeQuotaUsed }}</td>
                  <td>{{ quota.timeQuotaUnit }}</td>
                  <td>{{ quota.currentSessionUsageTime }}</td>
                  <td>{{ quota.parentQuotaType }}</td>
                  <td>{{ quota.usageQuotaType }}</td>
                </tr>
              </tbody>
            </table>
            <pagination-controls
              (pageChange)="pageChangedCustQuotaList($event)"
              directionLinks="true"
              id="custQuotapageData"
              maxSize="10"
              nextLabel=""
              previousLabel=""
            ></pagination-controls>
          </div>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeModel()">
      Close
    </button>
  </div>
</p-dialog>

<app-plan-connection-no
  *ngIf="planNameOpen"
  [planForConnection]="planForConnection"
  (closeDialog)="closeDialog()"
></app-plan-connection-no>
<app-promisetopay-details-modal
  [promiseToPayData]="promiseToPayData"
  dialogId="promiseToPayDataModal"
></app-promisetopay-details-modal>
